html {
    height: 100%;
}

body {
    background-color: #002743; /* Related to the first slide */
    color: #fff;
    height: 100%;
    line-height: 1;
}

/* Header Kurtural */
.header-1.ff-section 	{
	position: fixed;
	z-index: 80;
	background-color: #002743;
	width: 100%;

	-webkit-transition: 0.3s -webkit-transform ease;
	-moz-transition: 0.3s -moz-transform ease;
	-o-transition: 0.3s -o-transform ease;
	transition: 0.3s transform ease;
}

body.side-menu-opened .header-1.ff-section  	{
	-webkit-transform: translate3d(-89%,0,0);
	-moz-transform: translate3d(-89%,0,0);
	-ms-transform: translate3d(-89%,0,0);
	-o-transform: translate3d(-89%,0,0);
	transform: translate3d(-89%,0,0);

	background-color: transparent;

	-webkit-transition: background-color 1000ms ease-out 1s;
	-moz-transition: background-color 1000ms ease-out 1s;
	-o-transition: background-color 1000ms ease-out 1s;
	transition: background-color 1000ms ease-out 1s;

	color: #fff;

    -webkit-transition: color 500ms ease-out 1s;
    -moz-transition: color 500ms ease-out 1s;
    -o-transition: color 500ms ease-out 1s;
    transition: color 500ms ease-out 1s;
}


.header-1.ff-section .logo-holder 	{
	float: left;
	pointer-events: auto;
}

.header-1.ff-section .logo-wrapper 	{
}

.header-1.ff-section .logo-wrapper a 	{
	display: block;
	/*padding: 12px 15px;*/
  padding: 5px 10px;

	-webkit-transition: 0.18s opacity linear;
	-moz-transition: 0.18s opacity linear;
	-o-transition: 0.18s opacity linear;
	transition: 0.18s opacity linear;
}

.header-1.ff-section .logo__inner 	{
	display: block;
}

.header-1.ff-section .logo-wrapper a:focus,
.header-1.ff-section .logo-wrapper a:hover 	{
	text-decoration: none;
	/*opacity: 0.5;*/
	outline: none;
}

.header-1.ff-section h1 	{
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.header-1.ff-section .logo 	{
	position: relative;
	z-index: 1;
}

.header-1.ff-section .logo h1 	{
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 4px;
	font-weight: 500;
	text-transform: none;
	color: #444445;
	-webkit-transition: 0.3131s color ease;
	-moz-transition: 0.3131s color ease;
	-o-transition: 0.3131s color ease;
	transition: 0.3131s color ease;
}

.header-1.ff-section .logo h1 	{

}

.header-1.ff-section .logo .background--light h1  	{
	color: #444445;
}

.header-1.ff-section .logo .background--dark h1 {
	color: #ffffff;
}

.header-1.ff-section .logo img.logo-mobile 	{
	display: block;
  /*agregado*/
  width: 24px;
}

.header-1.ff-section .logo img.logo-desktop 	{
	display: none;
}

.logo-desktop {
    display: none;
    width: 35px;
}

.header-1.ff-section .logo img.logo-mobile {
    /*display: none;*/
}

.header-1.ff-section .logo img.logo-light,
.header-1.ff-section .logo .background--light img.logo-light,
.header-1.ff-section .logo .background--dark img.logo-dark 	{
	/*visibility: hidden;
	opacity: 0;*/
	position: absolute;
	/*top: 20px;
	left: 15px;*/
  top: 20px;
  left: 15px;

	-webkit-transition: 0s visibility 0.3131s ease, 0.3131s opacity 0s ease;
	-moz-transition: 0s visibility 0.3131s ease, 0.3131s opacity 0s ease;
	-o-transition: 0s visibility 0.3131s ease, 0.3131s opacity 0s ease;
	transition: 0s visibility 0.3131s ease, 0.3131s opacity 0s ease;
}

.header-1.ff-section .logo img.logo-dark,
.header-1.ff-section .logo .background--light img.logo-dark,
.header-1.ff-section .logo .background--dark img.logo-light 	{
	visibility: visible;
	opacity: 1;
	position: static;

	-webkit-transition: 0s visibility 0s ease, 0.3131s opacity 0s ease;
	-moz-transition: 0s visibility 0s ease, 0.3131s opacity 0s ease;
	-o-transition: 0s visibility 0s ease, 0.3131s opacity 0s ease;
	transition: 0s visibility 0s ease, 0.3131s opacity 0s ease;
}

.header-1.ff-section .menu-holder {
    float: right;
}

.side-menu-opened .header-1 {
    background-color: transparent !important;
}

.header-1.ff-section .menu-button 	{
	display: block;
	padding: 12px 15px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
	z-index: 1;
	outline: none;
	color: #fff;
	-webkit-transition: 0.18s opacity linear;
	-moz-transition: 0.18s opacity linear;
	-o-transition: 0.18s opacity linear;
	transition: 0.18s opacity linear;

	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	-o-transform: scale(0.85);
	transform: scale(0.85);
}

.header-1.ff-section .menu-button__inner 	{
	display: block;
/*agregado*/
color:white;
}

body.side-menu-opened .header-1.ff-section .menu-button 	{
	opacity: 1;
}

.header-1.ff-section .menu-button .background--light 	{
	color: #fff;
}

.header-1.ff-section .menu-button .background--dark 	{
	/*color: rgba(255,255,255,0.95);*/
  color: #fff;
}

.header-1.ff-section .menu-button:focus,
.header-1.ff-section .menu-button:hover 	{
	text-decoration: none;
}

.header-1.ff-section .menu-button__label 	{
	display: none;
}

.header-1.ff-section .menu-button__label {
    font-family: 'Titillium Web';
}

.header-1.ff-section .menu-button__lines 	{
	display: block;
	float: left;
	position: relative;
	width: 20px;
	height: 16px;
}

.header-1.ff-section .menu-button__line-1,
.header-1.ff-section .menu-button__line-2,
.header-1.ff-section .menu-button__line-3 {
	display: block;
	width: 20px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;

	-webkit-transition: 0.29s -webkit-transform ease, 0.29s width ease, 0.41s top ease, 0.41s left ease, 0.1s opacity ease, 0.3131s background-color ease;
	-moz-transition: 0.29s -moz-transform ease, 0.29s width ease, 0.41s top ease, 0.41s left ease, 0.1s opacity ease, 0.3131s background-color ease;
	-o-transition: 0.29s -o-transform ease, 0.29s width ease, 0.41s top ease, 0.41s left ease, 0.1s opacity ease, 0.3131s background-color ease;
	transition: 0.29s transform ease, 0.29s width ease, 0.41s top ease, 0.41s left ease, 0.1s opacity ease, 0.3131s background-color ease;
	/*transition: 2s all ease-out;*/
}


.header-1.ff-section .menu-button__line-1 	{
	top: 1px;
}

.header-1.ff-section .menu-button__line-2 	{
	top: 7px;
}

.header-1.ff-section .menu-button__line-3 	{
	top: 13px;
}

body.side-menu-opened .header-1.ff-section .menu-button__line-1 	{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 7px;
background-color: #fff;
}

body.side-menu-opened .header-1.ff-section .menu-button__line-2 	{
	opacity: 0;
}

body.side-menu-opened .header-1.ff-section .menu-button__line-3 	{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 7px;
background-color: #fff;
}

.header-1.ff-section .vcenter-wrapper 	{
	display: table;
	width: 100%;
	height: 100%;
}

.header-1.ff-section .vcenter 	{
	display: table-cell;
	vertical-align: middle;
}

.series-head-menu {
    font-size: 25px;
    font-family: 'Titillium Web';
    text-transform: uppercase;
    float: left;
    padding: 3px 0 2px;
}

.series-head-menu {
    float: none;
    font-size: 25px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    font-family: 'Titillium Web';
    text-transform: uppercase;
    padding: 0;
}

.series-head-menu a {
    color: #fff;
}

.series-head-menu a:hover {
    /*opacity: 0.5;*/
}

/* ********** */
/* RESPONSIVE */
/* ********** */

@media (min-width: 768px) {

	body.side-menu-opened .header-1.ff-section  	{
/*		-webkit-transform: translate3d(-268px,0,0);
		-moz-transform: translate3d(-268px,0,0);
		-ms-transform: translate3d(-268px,0,0);
		-o-transform: translate3d(-268px,0,0);
		transform: translate3d(-268px,0,0);
*/

		-webkit-transform: translate3d(-90%,0,0);
		-moz-transform: translate3d(-90%,0,0);
		-ms-transform: translate3d(-90%,0,0);
		-o-transform: translate3d(-90%,0,0);
		transform: translate3d(-90%,0,0);

	}

	.header-1.ff-section .logo-wrapper a 	{
/*		padding: 54px 56px; *51*/
		padding: 15px 56px;
	}

	.header-1.ff-section .logo h1 	{
		font-size: 21px;
		letter-spacing: 7px;
	}

	.header-1.ff-section .logo img.logo-light,
	.header-1.ff-section .logo .background--light img.logo-light,
	.header-1.ff-section .logo .background--dark img.logo-dark 	{
/*		top: 54px; *51*/
		top: 15px;
		left: 56px; /*51*/
	}

    .header-1.ff-section .menu-holder 	{
    	height: 56px;
    }

	.header-1.ff-section .menu-button 	{
	/*	padding: 54px 56px; *51*/
		padding: 15px 56px;

		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	.header-1.ff-section .menu-button__label 	{
		display: block;
		float: left;
		font-weight: 600;
		font-size: 11px;
		line-height: 18px;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-left: 9px;
		-webkit-transition: 0.3131s color ease;
		-moz-transition: 0.3131s color ease;
		-o-transition: 0.3131s color ease;
		transition: 0.3131s color ease;
	}

	/* Safari Typography Hacks */

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.header-1.ff-section .menu-button__label {
			font-weight: 600;
			padding-top: 1px;
		}

		.header-1.ff-section .menu-button .background--dark .menu-button__label 	{
			font-weight: 700;
			padding-top: 1px;
		}
	}


	.header-1.ff-section .menu-button__label__text-closed 	{
		display: block;
	}

	.header-1.ff-section .menu-button__label__text-opened 	{
		display: none;
	}

	body.side-menu-opened .header-1.ff-section .menu-button__label__text-closed 	{
		display: none;
	}

	body.side-menu-opened .header-1.ff-section .menu-button__label__text-opened 	{
		display: block;
	}

	.header-1.ff-section .menu-button__lines 	{
		width: 24px;
		height: 22px;
	}

	.header-1.ff-section .menu-button__line-1,
	.header-1.ff-section .menu-button__line-2,
	.header-1.ff-section .menu-button__line-3 	{
		width: 24px;
	}

	.header-1.ff-section .menu-button__line-1 	{
		top: 3px;
	}

	.header-1.ff-section .menu-button__line-2 	{
		top: 10px;

	}

	.header-1.ff-section .menu-button__line-3 	{
		top: 17px;
	}

	.header-1.ff-section .menu-button .background--light .menu-button__line-1,
	.header-1.ff-section .menu-button .background--light .menu-button__line-2,
	.header-1.ff-section .menu-button .background--light .menu-button__line-3 	{
		background-color: rgba(0,0,0,0.72);
	}

	.header-1.ff-section .menu-button .background--dark .menu-button__line-1,
	.header-1.ff-section .menu-button .background--dark .menu-button__line-2,
	.header-1.ff-section .menu-button .background--dark .menu-button__line-3 	{
		/*background-color: rgba(255,255,255,0.95);*/
   /* background-color: rgba(0,0,0,0.72);*/
	}

	body.side-menu-opened .header-1.ff-section .menu-button__line-1 	{
		top: 8px;
		left: 3px;
	}

	body.side-menu-opened .header-1.ff-section .menu-button__line-3 	{
		top: 8px;
		left: 3px;
	}

	.header-1.ff-section .logo img.logo-mobile 	{
		display: none;
	}

}

@media (min-width: 992px) {

  /*seteo para dimension de menu*/

	.series{margin-top: 80px;}

	.series-head-menu{display: inline; pointer-events: auto; }

	.series-head-menu a{text-decoration:none;}

	html.scroll-lock .header-1.ff-section {
		padding-right: 15px;
	}

	.header-1.ff-section .logo-wrapper a 	{
		/*padding: 64px 66px;
    padding: 15px;*/
    padding: 15px 20px;
	}

	.header-1.ff-section .logo img.logo-light,
	.header-1.ff-section .logo .background--light img.logo-light,
	.header-1.ff-section .logo .background--dark img.logo-dark 	{
		/*top: 64px;
		left: 66px;
        top: 15px;
        left: 15px;*/
        top: 15px;
        left: 20px;
	}

	.header-1.ff-section .menu-button 	{
        /*padding: 64px 66px;
        padding: 15px;*/
        padding: 5px;
	}

	/* Chrome Typography Hacks */

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.header-1.ff-section .menu-button__label {
			font-weight: 700;
			padding-top: 1px;

			/*agregad0*/
			color: #fff;
		}

		.header-1.ff-section .menu-button .background--dark .menu-button__label 	{
			font-weight: 600;
			margin-right: -1px;
		}
	}

}

/* FIN Header Kurtural */

.master-wrapper   {
	transition: 0.3s filter linear;
	overflow: hidden;
}

/* Menu Kurtural */
.side-menu-1.ff-section 	{
	position: fixed;
	overflow: auto;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #112546;
	color: #707070;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
/*	width: 210px;*/
	width: 100%;

	-webkit-overflow-scrolling: touch;

	-webkit-transform: translate3d(100%,0,0);
	-moz-transform: translate3d(100%,0,0);
	-ms-transform: translate3d(100%,0,0);
	-o-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);

/*	-webkit-transform: translate3d(210px,0,0);
	-moz-transform: translate3d(210px,0,0);
	-ms-transform: translate3d(210px,0,0);
	-o-transform: translate3d(210px,0,0);
	transform: translate3d(210px,0,0);
*/
	-webkit-transition: 0.3s -webkit-transform ease, 0.3s -webkit-box-shadow ease-out;
	-moz-transition: 0.3s -moz-transform ease, 0.3s -moz-box-shadow ease-out;
	-o-transition: 0.3s -o-transform ease, 0.3s -o-box-shadow ease-out;
	transition: 0.3s transform ease, 0.3s box-shadow ease-out;
}

body.side-menu-closed .side-menu-1.ff-section 	{

}

body.side-menu-opened .side-menu-1.ff-section 	{
	-webkit-transform: translate3d(0%,0,0);
	-moz-transform: translate3d(0%,0,0);
	-ms-transform: translate3d(0%,0,0);
	-o-transform: translate3d(0%,0,0);
	transform: translate3d(0%,0,0);
}

.menu-title a{color: #fff; font-size: 26px; text-decoration: none; margin-bottom: 15px;}

.menu-pie a {
    color: #fff;
}

.menu-pie a:hover {
    color: #707070;
}

.content-wrapper 	{
	-webkit-transition: 0.3s -webkit-transform ease;
	-moz-transition: 0.3s -moz-transform ease;
	-o-transition: 0.3s -o-transform ease;
	transition: 0.3s transform ease;
}

body.side-menu-opened .content-wrapper  	{
	-webkit-transform: translate3d(-210px,0,0);
	-moz-transform: translate3d(-210px,0,0);
	-ms-transform: translate3d(-210px,0,0);
	-o-transform: translate3d(-210px,0,0);
	transform: translate3d(-210px,0,0);
}

.content-wrapper__overlay 	{
	display: none;
	cursor: default;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	cursor: pointer;
	background-color: #065674;
	opacity: 0.1;
}

body.side-menu-opened .content-wrapper__overlay:focus 	{
	outline: none;
}

.side-menu-1.ff-section .logo-wrapper 	{
/*	padding: 23px 10px 18px 10px;*/
	padding: 13px 10px 0px 10px;
	line-height: 0;
}

.side-menu-1.ff-section .logo-wrapper.animation-logo-enter {
	-webkit-animation: animationLogoEnter 0.26s ease-out 0.00s forwards;
	animation: animationLogoEnter 0.26s ease-out 0.00s forwards;
}

.side-menu-1.ff-section .logo-wrapper img 	{
	height: auto;
	margin: 0 auto;
    width: 200px;
}

.side-menu-1.ff-section .logo-wrapper img.logo-mobile 	{
	display: block;
}

.side-menu-1.ff-section .logo-wrapper img.logo-desktop 	{
	display: none;
}

.side-menu-1.ff-section .logo-wrapper a 	{
	display: inline-block;
	padding: 10px 15px 35px 15px;

	-webkit-transition: 0.18s opacity linear;
	-moz-transition: 0.18s opacity linear;
	-o-transition: 0.18s opacity linear;
	transition: 0.18s opacity linear;
}

.side-menu-1.ff-section .logo-wrapper a:focus,
.side-menu-1.ff-section .logo-wrapper a:hover 	{
	text-decoration: none;
	/*opacity: 0.5;*/
	outline: none;
}

.side-menu-1.ff-section .logo 	{
	position: relative;
	z-index: 1;
}

.side-menu-1.ff-section .logo .logo__text 	{
	margin: 0;
	padding: 0 0 0 3px; /* left padding compensates for letter-spacing - bad centering */
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 3px;
	font-weight: 300;
	text-transform: none;
	color: rgba(255,255,255,0.95);
	-webkit-transition: 0.3131s color ease;
	-moz-transition: 0.3131s color ease;
	-o-transition: 0.3131s color ease;
	transition: 0.3131s color ease;
}


.side-menu-1.ff-section .navigation 	{
	font-family: 'Bungee';
	display: block;
	margin: 0;
	padding: 0 0 20px 0;
	list-style: none;
	color: rgba(255,255,255,0.95);
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 2px;
	text-indent: 2px;
	text-transform: uppercase;
}

.side-menu-1.ff-section .navigation > li 	{
	margin: 0;
	position: relative;
	margin: 0 30px;
}

.side-menu-1.ff-section .navigation > li:last-child 	{
	border-bottom: none;
}

.side-menu-1.ff-section .navigation li.animation-menu-items-enter {
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.07s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.07s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(2) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.14s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.14s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(3) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.21s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.21s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(4) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.28s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.28s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(5) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.35s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.35s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(6) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.42s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.42s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(7) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.49s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.49s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(8) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.56s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.56s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(9) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.63s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.63s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(10) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.70s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.70s forwards;
}



.side-menu-1.ff-section .navigation li a:hover 	{
}

.side-menu-1.ff-section .navigation li a 	{
	display: block;
/*	color: #707070;*/
	color: #fff;
	padding: 13px 0 13px 3px; /* left value compensates for letter-spacing */
	-webkit-transition: 0.14s color ease-out;
	-moz-transition: 0.14s color ease-out;
	-o-transition: 0.14s color ease-out;
	transition: 0.14s color ease-out;
}

.side-menu-1.ff-section .navigation li a:focus,
.side-menu-1.ff-section .navigation li a:hover 	{
/*	color: rgba(255,255,255,0.95);*/
	color: #707070;
	text-decoration: none;
	outline: none;
}

.side-menu-1.ff-section .navigation li.current-menu-item a,
.side-menu-1.ff-section .navigation li.current_page_item a 	{
	color: rgba(255,255,255,0.95);
}

.side-menu-1.ff-section .navigation-item-left,
.side-menu-1.ff-section .navigation-item-right 	{
	display: block;
}

.side-menu-1.ff-section .navigation-item-left 	{
	float: left;
}

.side-menu-1.ff-section .navigation-item-right 	{
	float: right;
	opacity: 0.2;
	font-size: 22px;
	text-align: right;
}

.side-menu-1.ff-section .widget 	{
	padding: 30px;
	opacity: 0;
	-webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
	-ms-transform: translate(0px,100px);
	-o-transform: translate(0px,100px);
	transform: translate(0px,100px);
}

.side-menu-1.ff-section .widget.animation-menu-items-enter 	{
	-webkit-animation: animationMenuItemsEnter 0.36s ease-out 0.3s forwards;
	animation: animationMenuItemsEnter 0.36s ease-out 0.3s forwards;
}

.side-menu-1.ff-section .sub-menu 	{
	list-style: none;
	margin: 9px 0 18px 0;
	padding: 0;
}

.side-menu-1.ff-section .sub-menu li a 	{
	font-size: 18px;
	padding: 3px 0;
}

.side-menu-1.ff-section .side-menu__social 	{
    display: inline-block;
	/*list-style: none;*/
	margin: 0 0 40px;
	padding: 5px;
	/*width: 100%;*/
}

.side-menu-1.ff-section .side-menu__social li {
	float: left;
    margin: 0 5px;
}

@media (min-width: 992px) {
    .side-menu-1.ff-section .side-menu__social li {
	    margin: 0 10px;
    }
}

.side-menu-1.ff-section .side-menu__social li.animation-social-items-enter {
	-webkit-animation: animationSocialItemsEnter 1.0s ease-out 0s forwards;
	animation: animationSocialItemsEnter 1.0s ease-out 0s forwards;
}

.side-menu-1.ff-section .side-menu__social a 	{
/*	font-size: 10px;*/
	/*font-size: 15px;
	color: #fff;
	display: block;

	-webkit-transition: 0.14s color ease-out;
	-moz-transition: 0.14s color ease-out;
	-o-transition: 0.14s color ease-out;
	transition: 0.14s color ease-out;*/
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
}



.side-menu-1.ff-section .side-menu__social a:focus,
.side-menu-1.ff-section .side-menu__social a:hover 	{
	/*color: #FFF68F;
	text-decoration: none;
	outline: none;*/
    background-position: center bottom;
}

.side-menu-1.ff-section .side-menu__social .twitter a {
    background-image: url('../images/icon-twitter.png');
}

.side-menu-1.ff-section .side-menu__social .facebook a {
    background-image: url('../images/icon-facebook.png');
}

.side-menu-1.ff-section .side-menu__social .whatsapp a {
    background-image: url('../images/icon-whatsapp.png');
}

.side-menu-1.ff-section .side-menu__social .instagram a {
    background-image: url('../images/icon-instagram.png');
}

.side-menu-1.ff-section .side-menu__social .telegram a {
    background-image: url('../images/icon-telegram.png');
}

.side-menu-1.ff-section .side-menu__social .cc a {
    background-image: url('../images/icon-cc.png');
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .side-menu-1.ff-section .side-menu__social a {
        background-size: 40px 80px;
    }

    .side-menu-1.ff-section .side-menu__social .twitter a {
        background-image: url('../images/icon-twitter@2x.png');
    }

    .side-menu-1.ff-section .side-menu__social .facebook a {
        background-image: url('../images/icon-facebook@2x.png');
    }

    .side-menu-1.ff-section .side-menu__social .whatsapp a {
        background-image: url('../images/icon-whatsapp@2x.png');
    }

    .side-menu-1.ff-section .side-menu__social .instagram a {
        background-image: url('../images/icon-instagram@2x.png');
    }

    .side-menu-1.ff-section .side-menu__social .telegram a {
        background-image: url('../images/icon-telegram@2x.png');
    }

    .side-menu-1.ff-section .side-menu__social .cc a {
        background-image: url('../images/icon-cc@2x.png');
    }
}

/* STYLE - WHITE */

.side-menu-1.side-menu-1__style--white.ff-section 	{
	background-color: #fafafa;
}

.side-menu-1.side-menu-1__style--white.ff-section,
.side-menu-1.side-menu-1__style--white.ff-section .side-menu__social a,
.side-menu-1.side-menu-1__style--white.ff-section .navigation li a 	{
	color: #bbb;
}

.side-menu-1.side-menu-1__style--white.ff-section .navigation li.current-menu-item a,
.side-menu-1.side-menu-1__style--white.ff-section .navigation li.current_page_item a,
.side-menu-1.side-menu-1__style--white.ff-section .navigation li a:focus,
.side-menu-1.side-menu-1__style--white.ff-section .navigation li a:hover,
.side-menu-1.side-menu-1__style--white.ff-section .side-menu__social a:focus,
.side-menu-1.side-menu-1__style--white.ff-section .side-menu__social a:hover 	{
	color: #444445;
}

@media (min-width: 768px) {

	.side-menu-1.ff-section 	{
/*		width: 268px;*/

		-webkit-transform: translate3d(100%,0,0);
		-moz-transform: translate3d(100%,0,0);
		-ms-transform: translate3d(100%,0,0);
		-o-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
	}

	body.side-menu-opened .content-wrapper  	{
		-webkit-transform: translate3d(-134px,0,0);
		-moz-transform: translate3d(-134px,0,0);
		-ms-transform: translate3d(-134px,0,0);
		-o-transform: translate3d(-134px,0,0);
		transform: translate3d(-134px,0,0);
	}

	.side-menu-1.ff-section .logo-wrapper 	{
/*		padding: 116px 37px 79px 37px;*/
		padding: 20px 37px 60px 37px;
	}

	.side-menu-1.ff-section .logo-wrapper img.logo-mobile 	{
		display: none;
	}

	.side-menu-1.ff-section .logo-wrapper img.logo-desktop 	{
        margin-top: 20px;
		display: block;
	}

	.side-menu-1.ff-section .logo-wrapper a 	{
		padding: 0;
	}

	.side-menu-1.ff-section .logo .logo__text 	{
		font-size: 21px;
		letter-spacing: 7px;
		padding: 0 0 0 7px; /* left padding compensates for letter-spacing - bad centering */
	}

	.side-menu-1.ff-section .navigation 	{
		padding: 15px 0 60px 0;
		font-size: 17px;
	}

	.side-menu-1.ff-section .navigation li a 	{
/*		padding: 17px 0 17px 0;*/
		padding: 10px 0;
	}

	.side-menu-1.ff-section .side-menu__social 	{
		padding: 10px 0;
	}

	.side-menu-1.ff-section .side-menu__social li 	{
		/*margin: 0 7px;*/
	}

	.side-menu-1.ff-section .side-menu__social a 	{
	/*	font-size: 13px;*/
		/*font-size: 18px;*/
	}

}

.footer-about {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 12px;
}

.footer-about a {
    color: #fff;
    text-decoration: none;
}

.footer-about a:hover {
    color: #fef494;
}
/* FIN Menu Kurtural */

.master-wrapper {
    /*width: 3000px;*/
}

.content-wrapper {
    padding-top: 40px;
}

@media (min-width: 992px) {
    .content-wrapper {
        padding-top: 0;
    }

    .slide-container {
        padding-top: 50px;
    }
}

.carousel-inner {
    height: auto !important;
}

.carousel-indicators {
    bottom: auto !important;
    position: fixed;
    top: 14px;
    z-index: 90;
}

.carousel-indicators li {
    background-color: #fff;
    height: 8px;
    opacity: 0.5;
    width: 8px;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
}

.carousel-indicators li.active,
.carousel-indicators li:hover {
    opacity: 1;
}

.carousel-control {
    display: none;
    text-shadow: none;
}

.carousel-control.right {
    right: 20px;
    left: auto;
}

.menu-categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-categories ul li {
    display: block;
    margin: 0;
    padding: 0;
}

.menu-categories ul li a {
    font-size: 24px;
}

.menu-categories ul li.nav-portada a {
    background-color: #75CAC5;
}

.menu-categories ul li.nav-series a {
    background-color: #DDE351;
}

.menu-categories ul li.nav-about a {
    background-color: #EE509C;
}

.side-menu-1.ff-section .navigation .menu-categories a {
    display: block;
    color: #112546;
    font-family: 'Bungee';
    padding: 15px 0;
    transition: 0.14s color ease-out;
}

.side-menu-1.ff-section .navigation .menu-categories a:hover {
    /*background-color: #cdc673;*/
    color: #fff;
}

.logo-mini-desktop {
    display: none;
}

@media (min-width: 992px) {
    .header-1.ff-section {
        background: none;
        position: absolute;
        z-index: 100;
    }

    .header-1.ff-section .logo-holder {
        display: none;
    }

    .header-1.ff-section .logo img.logo-desktop {
        display: none;
    }

    .logo-mini-desktop {
        display: block;
        position: fixed;
        right: 28px;
        top: 150px;
        width: 36px;
    }

    .side-menu-opened .logo-mini-desktop {
        display: none !important;
    }

    .logo-mini-desktop img {
        max-width: 100%;
    }

    .header-1.ff-section .menu-holder {
        position: fixed;
        right: 20px;
        top: 199px;
    }

    .side-menu-opened .header-1.ff-section .menu-holder {
        top: 20px;
    }

    .carousel-indicators {
        background: none !important;
        display: block;
        left: auto;
        margin: 0;
        padding: 10px 0;
        position: fixed;
        right: 41px;
        top: 333px;
        width: auto;
    }

    .carousel-indicators li,
    .carousel-indicators li.active {
        background-color: #fff;
        display: block;
        margin-bottom: 4px;
        opacity: 0.5;
    }

    .carousel-indicators li.active,
    .carousel-indicators li:hover {
        opacity: 1;
    }

    .carousel-control {
        bottom: auto;
        display: block;
        height: 24px;
        left: auto;
        position: fixed;
        right: 38px;
        top: 299px;
        width: 14px;
    }

    .carousel-control.left {
        background: url('../images/icon-prev.png') center top no-repeat;
    }

    .carousel-control.right {
        background: url('../images/icon-next.png') center top no-repeat;
        right: 38px;
        left: auto;
        top: 255px;
    }

    .carousel-control:focus,
    .carousel-control:hover {
        opacity: 1;
    }

    .header-1.ff-section .menu-button__inner {
        color: white;
        display: block;
        opacity: 0.5;
    }

    .header-1.ff-section .menu-button:hover,
    .header-1.ff-section .menu-button:hover .menu-button__inner {
		opacity: 1;
	}
}

.footer {
    background-color: #065674;
    padding: 20px 0;
}

.footer p {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 12px;
}

.footer p span {
    color: #FFF100;
}

.footer ul {
    display: inline-block;
}

.footer li {
    float: left;
    margin: 0 10px;
}

.footer a {
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
}

.footer a:hover {
    background-position: center bottom;
}

.footer .twitter a {
    background-image: url('../images/icon-twitter.png');
}

.footer .facebook a {
    background-image: url('../images/icon-facebook.png');
}

.footer .whatsapp a {
    background-image: url('../images/icon-whatsapp.png');
}

.footer .link a {
    background-image: url('../images/icon-link.png');
}

.footer .cc a {
    background-image: url('../images/icon-cc.png');
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .footer a {
        background-size: 40px 80px;
    }

    .footer .twitter a {
        background-image: url('../images/icon-twitter@2x.png');
    }

    .footer .facebook a {
        background-image: url('../images/icon-facebook@2x.png');
    }

    .footer .whatsapp a {
        background-image: url('../images/icon-whatsapp@2x.png');
    }

    .footer .link a {
        background-image: url('../images/icon-link@2x.png');
    }

    .footer .cc a {
        background-image: url('../images/icon-cc@2x.png');
    }
}

#preloader {
    background-color: #002743;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

#status {
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
}

.slide {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

/* Scroll 1 */
#slide-1-1 {
    background-color: #002743;
}

#slide-1-1 .slide {
    height: 100vh;
    width: 100vmin;
}

#slide-1-1 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-1-1 {
    color: #fff;
    font-family: 'Bungee';
    font-size: 34px;
    padding: 0 10%;
    position: absolute;
    top: 18%;
    width: 100%;
}

#slide-1-1-1 span {
    font-family: 'Bungee Inline';
}

#slide-1-2 {
    background-color: #C9639D;
    padding-top: 0;
}

#slide-1-2 .slide {

}

#slide-1-2 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-2-1 {
    color: #fff;
    font-family: 'Bungee Inline';
    font-size: 54px;
    padding: 0 10%;
    position: absolute;
    top: 20%;
    width: 100%;
}

#slide-1-2-2 {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 28px;
    padding: 0 10%;
    position: absolute;
    top: 55%;
    width: 100%;
}

#slide-1-3 {
    background-color: #9CC7C6;
    padding-top: 0;
}

#slide-1-3 .slide {

}

#slide-1-3 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-3-1 {
    color: #002743;
    font-family: 'Bungee Inline';
    font-size: 54px;
    padding: 0 10%;
    position: absolute;
    top: 20%;
    width: 100%;
}

#slide-1-3-2 {
    color: #002743;
    font-family: 'Titillium Web';
    font-size: 28px;
    padding: 0 10%;
    position: absolute;
    top: 55%;
    width: 100%;
}

#slide-1-4 {
    background-color: #E4E25C;
    padding-top: 0;
}

#slide-1-4 .slide {

}

#slide-1-4 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-4-1 {
    color: #1F5F84;
    font-family: 'Bungee';
    font-size: 24px;
    padding: 0 20%;
    position: absolute;
    top: 12%;
    width: 100%;
}

#slide-1-4-2 {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 20px;
    padding: 0 15%;
    position: absolute;
    top: 19%;
    width: 100%;
}

#slide-1-5 {
    background-color: #002743;
    padding-top: 0;
}

#slide-1-5 .slide {

}

#slide-1-5 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-5-1 {
    color: #fff;
    font-family: 'Bungee Inline';
    font-size: 30px;
    padding: 0 6%;
    position: absolute;
    top: 15%;
    width: 100%;
}

#slide-1-5-2 {
    padding: 0;
    position: absolute;
    top: 35%;
    width: 100%;
}

#slide-1-5-2 ul {
    display: inline-block;
}

#slide-1-5-2 li {
    float: left;
    margin: 0 20px 20px;
}

#slide-1-5-2 a {
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 75px;
    text-indent: -9999px;
    width: 75px;
}

#slide-1-5-2 a:focus,
#slide-1-5-2 a:hover	{
	/*color: #FFF68F;
	text-decoration: none;
	outline: none;*/
    background-position: center bottom;
}

#slide-1-5-2 .twitter a {
    background-image: url('../images/icon-twitter-big.png');
}

#slide-1-5-2 .facebook a {
    background-image: url('../images/icon-facebook-big.png');
}

#slide-1-5-2 .instagram a {
    background-image: url('../images/icon-instagram-big.png');
}

#slide-1-5-2 .telegram a {
    background-image: url('../images/icon-telegram-big.png');
}

#slide-1-5-2 a {
    background-image: url('../images/icon-cc-big.png');
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-1-5-2 a {
        background-size: 75px 150px;
    }

    #slide-1-5-2 .twitter a {
        background-image: url('../images/icon-twitter-big@2x.png');
    }

    #slide-1-5-2 .facebook a {
        background-image: url('../images/icon-facebook-big@2x.png');
    }

    #slide-1-5-2 .instagram a {
        background-image: url('../images/icon-instagram-big@2x.png');
    }

    #slide-1-5-2 .telegram a {
        background-image: url('../images/icon-telegram-big@2x.png');
    }

    #slide-1-5-2 .cc a {
        background-image: url('../images/icon-cc-big@2x.png');
    }
}

#slide-1-6 {
    background-color: #2498b1;
    padding-top: 0;
}

#slide-1-6 .slide {

}

#slide-1-6 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-6-1 {
    color: #fff;
    font-family: 'Bungee Inline';
    font-size: 30px;
    padding: 0 6%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-1-6-2 {
    padding: 0 34%;
    position: absolute;
    top: 10%;
    width: 100%;
}

#slide-1-6-2 img {
    max-width: 100%;
}

#slide-1-6-3 {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 24px;
    padding: 0 15%;
    position: absolute;
    top: 20%;
    width: 100%;
}

#slide-1-6-4 {
    padding: 0 34%;
    position: absolute;
    top: 27%;
    width: 100%;
}

#slide-1-6-4 img {
    max-width: 100%;
}

#slide-1-6-5 {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 24px;
    padding: 0 15%;
    position: absolute;
    top: 37%;
    width: 100%;
}

#slide-1-6-6 {
    padding: 0 34%;
    position: absolute;
    top: 44%;
    width: 100%;
}

#slide-1-6-6 img {
    max-width: 100%;
}

#slide-1-6-7 {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 24px;
    padding: 0 15%;
    position: absolute;
    top: 54%;
    width: 100%;
}

#slide-1-6-8 {
    padding: 0 34%;
    position: absolute;
    top: 61%;
    width: 100%;
}

#slide-1-6-8 img {
    max-width: 100%;
}

#slide-1-6-9 {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 24px;
    padding: 0 15%;
    position: absolute;
    top: 71%;
    width: 100%;
}

#slide-1-6-10 {
    padding: 0 34%;
    position: absolute;
    top: 78%;
    width: 100%;
}

#slide-1-6-10 img {
    max-width: 100%;
}

#slide-1-6-11 {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 24px;
    padding: 0 15%;
    position: absolute;
    top: 88%;
    width: 100%;
}

#slide-1-7 {
    background-color: #60a7be;
    padding-top: 0;
}

#slide-1-7 .slide {

}

#slide-1-7 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-7-1 {
    color: #fff;
    font-family: 'Bungee Inline';
    font-size: 30px;
    padding: 0 6%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-1-7-2 {
    padding: 0 34%;
    position: absolute;
    top: 12%;
    width: 100%;
}

#slide-1-7-2 img {
    max-width: 100%;
}

#slide-1-7-3 {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 24px;
    padding: 0 15%;
    position: absolute;
    top: 25%;
    width: 100%;
}

#slide-1-7-4 {
    padding: 0 34%;
    position: absolute;
    top: 34%;
    width: 100%;
}

#slide-1-7-4 img {
    max-width: 100%;
}

#slide-1-7-5 {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 24px;
    padding: 0 15%;
    position: absolute;
    top: 47%;
    width: 100%;
}

#slide-1-7-6 {
    padding: 0 34%;
    position: absolute;
    top: 56%;
    width: 100%;
}

#slide-1-7-6 img {
    max-width: 100%;
}

#slide-1-7-7 {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 24px;
    padding: 0 15%;
    position: absolute;
    top: 69%;
    width: 100%;
}

#slide-1-7-8 {
    padding: 0 34%;
    position: absolute;
    top: 78%;
    width: 100%;
}

#slide-1-7-8 img {
    max-width: 100%;
}

#slide-1-7-9 {
    color: #fff;
    font-family: 'Titillium Web';
    font-size: 24px;
    padding: 0 15%;
    position: absolute;
    top: 91%;
    width: 100%;
}

@media (min-width: 992px) {
    .slide-container .slide {
        height: auto;
        width: 650px;
    }

    #slide-1-1 .slide {
        width: 650px;
    }

    #slide-1-1-1 {
        font-size: 80px;
        padding: 0;
        top: 3%;
    }

    #slide-1-2-1 {
        font-size: 120px;
    }

    #slide-1-2-2 {
        font-size: 54px;
    }

    #slide-1-3-1 {
        font-size: 120px;
    }

    #slide-1-3-2 {
        font-size: 54px;
    }

    #slide-1-4-1 {
        font-size: 120px;
    }

    #slide-1-4-2 {
        font-size: 54px;
    }

    #slide-1-5-1 {
        font-size: 60px;
    }

    #slide-1-6-1 {
        font-size: 60px;
    }

    #slide-1-6-2 {
        top: 12%;
    }

    #slide-1-6-3 {
        top: 22%;
    }

    #slide-1-6-4 {
        top: 29%;
    }

    #slide-1-6-5 {
        top: 39%;
    }

    #slide-1-6-6 {
        top: 46%;
    }

    #slide-1-6-7 {
        top: 56%;
    }

    #slide-1-6-8 {
        top: 63%;
    }

    #slide-1-6-9 {
        top: 73%;
    }

    #slide-1-6-10 {
        top: 80%;
    }

    #slide-1-6-11 {
        top: 90%;
    }

    #slide-1-7-1 {
        font-size: 60px;
    }

    .footer p {
        font-size: 18px;
    }
}
