html {
    height: 100%;
}

body {
    background-color: #005A79; /* Related to the first slide */
    color: #fff;
    height: 100%;
    line-height: 1;
}

a {
    cursor: pointer;
}

/* Header Kurtural */
.header-1.ff-section 	{
	position: fixed;
	z-index: 80;
	background-color: #005A79;
	width: 100%;

	-webkit-transition: 0.3s -webkit-transform ease;
	-moz-transition: 0.3s -moz-transform ease;
	-o-transition: 0.3s -o-transform ease;
	transition: 0.3s transform ease;
}

body.side-menu-opened .header-1.ff-section  	{
	-webkit-transform: translate3d(-89%,0,0);
	-moz-transform: translate3d(-89%,0,0);
	-ms-transform: translate3d(-89%,0,0);
	-o-transform: translate3d(-89%,0,0);
	transform: translate3d(-89%,0,0);

	background-color: transparent;

	-webkit-transition: background-color 1000ms ease-out 1s;
	-moz-transition: background-color 1000ms ease-out 1s;
	-o-transition: background-color 1000ms ease-out 1s;
	transition: background-color 1000ms ease-out 1s;

	color: #fff;

    -webkit-transition: color 500ms ease-out 1s;
    -moz-transition: color 500ms ease-out 1s;
    -o-transition: color 500ms ease-out 1s;
    transition: color 500ms ease-out 1s;
}


.header-1.ff-section .logo-holder 	{
	float: left;
	pointer-events: auto;
}

.header-1.ff-section .logo-wrapper 	{
}

.header-1.ff-section .logo-wrapper a {
	display: block;
	/*padding: 12px 15px;*/
  padding: 5px 10px;

	-webkit-transition: 0.18s opacity linear;
	-moz-transition: 0.18s opacity linear;
	-o-transition: 0.18s opacity linear;
	transition: 0.18s opacity linear;
}

.header-1.ff-section .logo__inner {
	display: block;
}

.header-1.ff-section .logo-wrapper a:focus,
.header-1.ff-section .logo-wrapper a:hover {
	text-decoration: none;
	/*opacity: 0.5;*/
	outline: none;
}

.header-1.ff-section h1 {
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.header-1.ff-section .logo {
	position: relative;
	z-index: 1;
}

.header-1.ff-section .logo h1 {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 4px;
	font-weight: 500;
	text-transform: none;
	color: #444445;
	-webkit-transition: 0.3131s color ease;
	-moz-transition: 0.3131s color ease;
	-o-transition: 0.3131s color ease;
	transition: 0.3131s color ease;
}

.header-1.ff-section .logo h1 {

}

.header-1.ff-section .logo .background--light h1 {
	color: #444445;
}

.header-1.ff-section .logo .background--dark h1 {
	color: #ffffff;
}

.header-1.ff-section .logo img.logo-mobile {
	display: block;
  /*agregado*/
  width: 24px;
}

.header-1.ff-section .logo img.logo-desktop {
	display: none;
}

.logo-desktop {
    display: none;
    width: 35px;
}

.header-1.ff-section .logo img.logo-mobile {
    /*display: none;*/
}

.header-1.ff-section .logo img.logo-light,
.header-1.ff-section .logo .background--light img.logo-light,
.header-1.ff-section .logo .background--dark img.logo-dark {
	/*visibility: hidden;
	opacity: 0;*/
	position: absolute;
	/*top: 20px;
	left: 15px;*/
  top: 20px;
  left: 15px;

	-webkit-transition: 0s visibility 0.3131s ease, 0.3131s opacity 0s ease;
	-moz-transition: 0s visibility 0.3131s ease, 0.3131s opacity 0s ease;
	-o-transition: 0s visibility 0.3131s ease, 0.3131s opacity 0s ease;
	transition: 0s visibility 0.3131s ease, 0.3131s opacity 0s ease;
}

.header-1.ff-section .logo img.logo-dark,
.header-1.ff-section .logo .background--light img.logo-dark,
.header-1.ff-section .logo .background--dark img.logo-light {
	visibility: visible;
	opacity: 1;
	position: static;

	-webkit-transition: 0s visibility 0s ease, 0.3131s opacity 0s ease;
	-moz-transition: 0s visibility 0s ease, 0.3131s opacity 0s ease;
	-o-transition: 0s visibility 0s ease, 0.3131s opacity 0s ease;
	transition: 0s visibility 0s ease, 0.3131s opacity 0s ease;
}

.header-1.ff-section .menu-holder {
    float: right;
}

.side-menu-opened .header-1 {
    background-color: transparent !important;
}

.header-1.ff-section .menu-button {
	display: block;
	padding: 12px 15px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
	z-index: 1;
	outline: none;
	color: #fff;
	-webkit-transition: 0.18s opacity linear;
	-moz-transition: 0.18s opacity linear;
	-o-transition: 0.18s opacity linear;
	transition: 0.18s opacity linear;

	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	-o-transform: scale(0.85);
	transform: scale(0.85);
}

.header-1.ff-section .menu-button__inner {
	display: block;
/*agregado*/
color:white;
}

body.side-menu-opened .header-1.ff-section .menu-button {
	opacity: 1;
}

.header-1.ff-section .menu-button .background--light {
	color: #fff;
}

.header-1.ff-section .menu-button .background--dark {
	/*color: rgba(255,255,255,0.95);*/
  color: #fff;
}

.header-1.ff-section .menu-button:focus,
.header-1.ff-section .menu-button:hover {
	text-decoration: none;
}

.header-1.ff-section .menu-button__label {
	display: none;
}

.header-1.ff-section .menu-button__label {
    font-family: 'Saira', sans-serif;
}

.header-1.ff-section .menu-button__lines {
	display: block;
	float: left;
	position: relative;
	width: 20px;
	height: 16px;
}

.header-1.ff-section .menu-button__line-1,
.header-1.ff-section .menu-button__line-2,
.header-1.ff-section .menu-button__line-3 {
	display: block;
	width: 20px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;

	-webkit-transition: 0.29s -webkit-transform ease, 0.29s width ease, 0.41s top ease, 0.41s left ease, 0.1s opacity ease, 0.3131s background-color ease;
	-moz-transition: 0.29s -moz-transform ease, 0.29s width ease, 0.41s top ease, 0.41s left ease, 0.1s opacity ease, 0.3131s background-color ease;
	-o-transition: 0.29s -o-transform ease, 0.29s width ease, 0.41s top ease, 0.41s left ease, 0.1s opacity ease, 0.3131s background-color ease;
	transition: 0.29s transform ease, 0.29s width ease, 0.41s top ease, 0.41s left ease, 0.1s opacity ease, 0.3131s background-color ease;
	/*transition: 2s all ease-out;*/
}


.header-1.ff-section .menu-button__line-1 {
	top: 1px;
}

.header-1.ff-section .menu-button__line-2 {
	top: 7px;
}

.header-1.ff-section .menu-button__line-3 {
	top: 13px;
}

body.side-menu-opened .header-1.ff-section .menu-button__line-1 {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 7px;
    background-color: #fff;
}

body.side-menu-opened .header-1.ff-section .menu-button__line-2 {
	opacity: 0;
}

body.side-menu-opened .header-1.ff-section .menu-button__line-3 {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 7px;
background-color: #fff;
}

.header-1.ff-section .vcenter-wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

.header-1.ff-section .vcenter {
	display: table-cell;
	vertical-align: middle;
}

.series-head-menu {
    font-size: 25px;
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
    float: left;
    padding: 3px 0 2px;
}

.series-head-menu {
    float: none;
    font-size: 25px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
    padding: 0;
}

.series-head-menu a {
    color: #fff;
}

.series-head-menu a:hover {
    /*opacity: 0.5;*/
}

/* ********** */
/* RESPONSIVE */
/* ********** */

@media (min-width: 768px) {

	body.side-menu-opened .header-1.ff-section  	{
/*		-webkit-transform: translate3d(-268px,0,0);
		-moz-transform: translate3d(-268px,0,0);
		-ms-transform: translate3d(-268px,0,0);
		-o-transform: translate3d(-268px,0,0);
		transform: translate3d(-268px,0,0);
*/

		-webkit-transform: translate3d(-90%,0,0);
		-moz-transform: translate3d(-90%,0,0);
		-ms-transform: translate3d(-90%,0,0);
		-o-transform: translate3d(-90%,0,0);
		transform: translate3d(-90%,0,0);

	}

	.header-1.ff-section .logo-wrapper a 	{
/*		padding: 54px 56px; *51*/
		padding: 15px 56px;
	}

	.header-1.ff-section .logo h1 	{
		font-size: 21px;
		letter-spacing: 7px;
	}

	.header-1.ff-section .logo img.logo-light,
	.header-1.ff-section .logo .background--light img.logo-light,
	.header-1.ff-section .logo .background--dark img.logo-dark 	{
/*		top: 54px; *51*/
		top: 15px;
		left: 56px; /*51*/
	}

    .header-1.ff-section .menu-holder 	{
    	height: 56px;
    }

	.header-1.ff-section .menu-button 	{
	/*	padding: 54px 56px; *51*/
		padding: 15px 56px;

		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	.header-1.ff-section .menu-button__label 	{
		display: block;
		float: left;
		font-weight: 600;
		font-size: 11px;
		line-height: 18px;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-left: 9px;
		-webkit-transition: 0.3131s color ease;
		-moz-transition: 0.3131s color ease;
		-o-transition: 0.3131s color ease;
		transition: 0.3131s color ease;
	}

	/* Safari Typography Hacks */

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.header-1.ff-section .menu-button__label {
			font-weight: 600;
			padding-top: 1px;
		}

		.header-1.ff-section .menu-button .background--dark .menu-button__label 	{
			font-weight: 700;
			padding-top: 1px;
		}
	}


	.header-1.ff-section .menu-button__label__text-closed 	{
		display: block;
	}

	.header-1.ff-section .menu-button__label__text-opened 	{
		display: none;
	}

	body.side-menu-opened .header-1.ff-section .menu-button__label__text-closed 	{
		display: none;
	}

	body.side-menu-opened .header-1.ff-section .menu-button__label__text-opened 	{
		display: block;
	}

	.header-1.ff-section .menu-button__lines 	{
		width: 24px;
		height: 22px;
	}

	.header-1.ff-section .menu-button__line-1,
	.header-1.ff-section .menu-button__line-2,
	.header-1.ff-section .menu-button__line-3 	{
		width: 24px;
	}

	.header-1.ff-section .menu-button__line-1 	{
		top: 3px;
	}

	.header-1.ff-section .menu-button__line-2 	{
		top: 10px;

	}

	.header-1.ff-section .menu-button__line-3 	{
		top: 17px;
	}

	.header-1.ff-section .menu-button .background--light .menu-button__line-1,
	.header-1.ff-section .menu-button .background--light .menu-button__line-2,
	.header-1.ff-section .menu-button .background--light .menu-button__line-3 	{
		background-color: rgba(0,0,0,0.72);
	}

	.header-1.ff-section .menu-button .background--dark .menu-button__line-1,
	.header-1.ff-section .menu-button .background--dark .menu-button__line-2,
	.header-1.ff-section .menu-button .background--dark .menu-button__line-3 	{
		/*background-color: rgba(255,255,255,0.95);*/
   /* background-color: rgba(0,0,0,0.72);*/
	}

	body.side-menu-opened .header-1.ff-section .menu-button__line-1 	{
		top: 8px;
		left: 3px;
	}

	body.side-menu-opened .header-1.ff-section .menu-button__line-3 	{
		top: 8px;
		left: 3px;
	}

	.header-1.ff-section .logo img.logo-mobile 	{
		display: none;
	}

}

@media (min-width: 992px) {

  /*seteo para dimension de menu*/

	.series{margin-top: 80px;}

	.series-head-menu{display: inline; pointer-events: auto; }

	.series-head-menu a{text-decoration:none;}

	html.scroll-lock .header-1.ff-section {
		padding-right: 15px;
	}

	.header-1.ff-section .logo-wrapper a 	{
		/*padding: 64px 66px;
    padding: 15px;*/
    padding: 15px 20px;
	}

	.header-1.ff-section .logo img.logo-light,
	.header-1.ff-section .logo .background--light img.logo-light,
	.header-1.ff-section .logo .background--dark img.logo-dark 	{
		/*top: 64px;
		left: 66px;
        top: 15px;
        left: 15px;*/
        top: 15px;
        left: 20px;
	}

	.header-1.ff-section .menu-button 	{
        /*padding: 64px 66px;
        padding: 15px;*/
        padding: 5px;
	}

	/* Chrome Typography Hacks */

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.header-1.ff-section .menu-button__label {
			font-weight: 700;
			padding-top: 1px;

			/*agregad0*/
			color: #fff;
		}

		.header-1.ff-section .menu-button .background--dark .menu-button__label 	{
			font-weight: 600;
			margin-right: -1px;
		}
	}

}

/* FIN Header Kurtural */

.master-wrapper   {
	transition: 0.3s filter linear;
	overflow: hidden;
}

/* Menu Kurtural */
.side-menu-1.ff-section 	{
	position: fixed;
	overflow: auto;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #112546;
	color: #707070;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
/*	width: 210px;*/
	width: 100%;

	-webkit-overflow-scrolling: touch;

	-webkit-transform: translate3d(100%,0,0);
	-moz-transform: translate3d(100%,0,0);
	-ms-transform: translate3d(100%,0,0);
	-o-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);

/*	-webkit-transform: translate3d(210px,0,0);
	-moz-transform: translate3d(210px,0,0);
	-ms-transform: translate3d(210px,0,0);
	-o-transform: translate3d(210px,0,0);
	transform: translate3d(210px,0,0);
*/
	-webkit-transition: 0.3s -webkit-transform ease, 0.3s -webkit-box-shadow ease-out;
	-moz-transition: 0.3s -moz-transform ease, 0.3s -moz-box-shadow ease-out;
	-o-transition: 0.3s -o-transform ease, 0.3s -o-box-shadow ease-out;
	transition: 0.3s transform ease, 0.3s box-shadow ease-out;
}

body.side-menu-closed .side-menu-1.ff-section 	{

}

body.side-menu-opened .side-menu-1.ff-section 	{
	-webkit-transform: translate3d(0%,0,0);
	-moz-transform: translate3d(0%,0,0);
	-ms-transform: translate3d(0%,0,0);
	-o-transform: translate3d(0%,0,0);
	transform: translate3d(0%,0,0);
}

.menu-title a{color: #fff; font-size: 26px; text-decoration: none; margin-bottom: 15px;}

.menu-pie a {
    color: #fff;
}

.menu-pie a:hover {
    color: #707070;
}

.content-wrapper 	{
	-webkit-transition: 0.3s -webkit-transform ease;
	-moz-transition: 0.3s -moz-transform ease;
	-o-transition: 0.3s -o-transform ease;
	transition: 0.3s transform ease;
}

body.side-menu-opened .content-wrapper  	{
	-webkit-transform: translate3d(-210px,0,0);
	-moz-transform: translate3d(-210px,0,0);
	-ms-transform: translate3d(-210px,0,0);
	-o-transform: translate3d(-210px,0,0);
	transform: translate3d(-210px,0,0);
}

.content-wrapper__overlay 	{
	display: none;
	cursor: default;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	cursor: pointer;
	background-color: #065674;
	opacity: 0.1;
}

body.side-menu-opened .content-wrapper__overlay:focus 	{
	outline: none;
}

.side-menu-1.ff-section .logo-wrapper 	{
/*	padding: 23px 10px 18px 10px;*/
	padding: 13px 10px 0px 10px;
	line-height: 0;
}

.side-menu-1.ff-section .logo-wrapper.animation-logo-enter {
	-webkit-animation: animationLogoEnter 0.26s ease-out 0.00s forwards;
	animation: animationLogoEnter 0.26s ease-out 0.00s forwards;
}

.side-menu-1.ff-section .logo-wrapper img 	{
	height: auto;
	margin: 0 auto;
    width: 200px;
}

.side-menu-1.ff-section .logo-wrapper img.logo-mobile 	{
	display: block;
}

.side-menu-1.ff-section .logo-wrapper img.logo-desktop 	{
	display: none;
}

.side-menu-1.ff-section .logo-wrapper a 	{
	display: inline-block;
	padding: 10px 15px 35px 15px;

	-webkit-transition: 0.18s opacity linear;
	-moz-transition: 0.18s opacity linear;
	-o-transition: 0.18s opacity linear;
	transition: 0.18s opacity linear;
}

.side-menu-1.ff-section .logo-wrapper a:focus,
.side-menu-1.ff-section .logo-wrapper a:hover 	{
	text-decoration: none;
	/*opacity: 0.5;*/
	outline: none;
}

.side-menu-1.ff-section .logo 	{
	position: relative;
	z-index: 1;
}

.side-menu-1.ff-section .logo .logo__text 	{
	margin: 0;
	padding: 0 0 0 3px; /* left padding compensates for letter-spacing - bad centering */
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 3px;
	font-weight: 300;
	text-transform: none;
	color: rgba(255,255,255,0.95);
	-webkit-transition: 0.3131s color ease;
	-moz-transition: 0.3131s color ease;
	-o-transition: 0.3131s color ease;
	transition: 0.3131s color ease;
}


.side-menu-1.ff-section .navigation 	{
	font-family: 'Exo 2', sans-serif;
	display: block;
	margin: 0;
	padding: 0 0 20px 0;
	list-style: none;
	color: rgba(255,255,255,0.95);
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 2px;
	text-indent: 2px;
	text-transform: uppercase;
}

.side-menu-1.ff-section .navigation > li 	{
	margin: 0;
	position: relative;
	margin: 0 30px;
}

.side-menu-1.ff-section .navigation > li:last-child 	{
	border-bottom: none;
}

.side-menu-1.ff-section .navigation li.animation-menu-items-enter {
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.07s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.07s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(2) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.14s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.14s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(3) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.21s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.21s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(4) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.28s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.28s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(5) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.35s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.35s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(6) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.42s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.42s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(7) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.49s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.49s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(8) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.56s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.56s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(9) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.63s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.63s forwards;
}
.side-menu-1.ff-section .navigation li.animation-menu-items-enter:nth-child(10) 	{
	-webkit-animation: animationMenuItemsEnter 0.26s ease-out 0.70s forwards;
	animation: animationMenuItemsEnter 0.26s ease-out 0.70s forwards;
}



.side-menu-1.ff-section .navigation li a:hover 	{
}

.side-menu-1.ff-section .navigation li a 	{
	display: block;
/*	color: #707070;*/
	color: #fff;
	padding: 13px 0 13px 3px; /* left value compensates for letter-spacing */
	-webkit-transition: 0.14s color ease-out;
	-moz-transition: 0.14s color ease-out;
	-o-transition: 0.14s color ease-out;
	transition: 0.14s color ease-out;
}

.side-menu-1.ff-section .navigation li a:focus,
.side-menu-1.ff-section .navigation li a:hover 	{
/*	color: rgba(255,255,255,0.95);*/
	color: #707070;
	text-decoration: none;
	outline: none;
}

.side-menu-1.ff-section .navigation li.current-menu-item a,
.side-menu-1.ff-section .navigation li.current_page_item a 	{
	color: rgba(255,255,255,0.95);
}

.side-menu-1.ff-section .navigation-item-left,
.side-menu-1.ff-section .navigation-item-right 	{
	display: block;
}

.side-menu-1.ff-section .navigation-item-left 	{
	float: left;
}

.side-menu-1.ff-section .navigation-item-right 	{
	float: right;
	opacity: 0.2;
	font-size: 22px;
	text-align: right;
}

.side-menu-1.ff-section .widget 	{
	padding: 30px;
	opacity: 0;
	-webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
	-ms-transform: translate(0px,100px);
	-o-transform: translate(0px,100px);
	transform: translate(0px,100px);
}

.side-menu-1.ff-section .widget.animation-menu-items-enter 	{
	-webkit-animation: animationMenuItemsEnter 0.36s ease-out 0.3s forwards;
	animation: animationMenuItemsEnter 0.36s ease-out 0.3s forwards;
}

.side-menu-1.ff-section .sub-menu 	{
	list-style: none;
	margin: 9px 0 18px 0;
	padding: 0;
}

.side-menu-1.ff-section .sub-menu li a 	{
	font-size: 18px;
	padding: 3px 0;
}

.side-menu-1.ff-section .side-menu__social {
    display: inline-block;
	/*list-style: none;*/
	margin: 0 0 40px;
	padding: 5px;
	/*width: 100%;*/
}

.side-menu-1.ff-section .side-menu__social li {
	float: left;
    margin: 0 5px;
}

@media (min-width: 992px) {
    .side-menu-1.ff-section .side-menu__social li {
	    margin: 0 10px;
    }
}

.side-menu-1.ff-section .side-menu__social li.animation-social-items-enter {
	-webkit-animation: animationSocialItemsEnter 1.0s ease-out 0s forwards;
	animation: animationSocialItemsEnter 1.0s ease-out 0s forwards;
}

.side-menu-1.ff-section .side-menu__social a 	{
/*	font-size: 10px;*/
	/*font-size: 15px;
	color: #fff;
	display: block;

	-webkit-transition: 0.14s color ease-out;
	-moz-transition: 0.14s color ease-out;
	-o-transition: 0.14s color ease-out;
	transition: 0.14s color ease-out;*/
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
}

.side-menu-1.ff-section .side-menu__social a:focus,
.side-menu-1.ff-section .side-menu__social a:hover 	{
	/*color: #FFF68F;
	text-decoration: none;
	outline: none;*/
    background-position: center bottom;
}

.side-menu-1.ff-section .side-menu__social .twitter a {
    background-image: url('../images/icon-twitter.png');
}

.side-menu-1.ff-section .side-menu__social .facebook a {
    background-image: url('../images/icon-facebook.png');
}

.side-menu-1.ff-section .side-menu__social .whatsapp a {
    background-image: url('../images/icon-whatsapp.png');
}

.side-menu-1.ff-section .side-menu__social .instagram a {
    background-image: url('../images/icon-instagram.png');
}

.side-menu-1.ff-section .side-menu__social .telegram a {
    background-image: url('../images/icon-telegram.png');
}

.side-menu-1.ff-section .side-menu__social .cc a {
    background-image: url('../images/icon-cc.png');
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .side-menu-1.ff-section .side-menu__social a {
        background-size: 40px 80px;
    }

    .side-menu-1.ff-section .side-menu__social .twitter a {
        background-image: url('../images/icon-twitter@2x.png');
    }

    .side-menu-1.ff-section .side-menu__social .facebook a {
        background-image: url('../images/icon-facebook@2x.png');
    }

    .side-menu-1.ff-section .side-menu__social .whatsapp a {
        background-image: url('../images/icon-whatsapp@2x.png');
    }

    .side-menu-1.ff-section .side-menu__social .instagram a {
        background-image: url('../images/icon-instagram@2x.png');
    }

    .side-menu-1.ff-section .side-menu__social .telegram a {
        background-image: url('../images/icon-telegram@2x.png');
    }

    .side-menu-1.ff-section .side-menu__social .cc a {
        background-image: url('../images/icon-cc@2x.png');
    }
}

/* STYLE - WHITE */

.side-menu-1.side-menu-1__style--white.ff-section 	{
	background-color: #fafafa;
}

.side-menu-1.side-menu-1__style--white.ff-section,
.side-menu-1.side-menu-1__style--white.ff-section .side-menu__social a,
.side-menu-1.side-menu-1__style--white.ff-section .navigation li a 	{
	color: #bbb;
}

.side-menu-1.side-menu-1__style--white.ff-section .navigation li.current-menu-item a,
.side-menu-1.side-menu-1__style--white.ff-section .navigation li.current_page_item a,
.side-menu-1.side-menu-1__style--white.ff-section .navigation li a:focus,
.side-menu-1.side-menu-1__style--white.ff-section .navigation li a:hover,
.side-menu-1.side-menu-1__style--white.ff-section .side-menu__social a:focus,
.side-menu-1.side-menu-1__style--white.ff-section .side-menu__social a:hover 	{
	color: #444445;
}

@media (min-width: 768px) {

	.side-menu-1.ff-section 	{
/*		width: 268px;*/

		-webkit-transform: translate3d(100%,0,0);
		-moz-transform: translate3d(100%,0,0);
		-ms-transform: translate3d(100%,0,0);
		-o-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
	}

	body.side-menu-opened .content-wrapper  	{
		-webkit-transform: translate3d(-134px,0,0);
		-moz-transform: translate3d(-134px,0,0);
		-ms-transform: translate3d(-134px,0,0);
		-o-transform: translate3d(-134px,0,0);
		transform: translate3d(-134px,0,0);
	}

	.side-menu-1.ff-section .logo-wrapper 	{
/*		padding: 116px 37px 79px 37px;*/
		padding: 20px 37px 60px 37px;
	}

	.side-menu-1.ff-section .logo-wrapper img.logo-mobile 	{
		display: none;
	}

	.side-menu-1.ff-section .logo-wrapper img.logo-desktop 	{
        margin-top: 20px;
		display: block;
	}

	.side-menu-1.ff-section .logo-wrapper a 	{
		padding: 0;
	}

	.side-menu-1.ff-section .logo .logo__text 	{
		font-size: 21px;
		letter-spacing: 7px;
		padding: 0 0 0 7px; /* left padding compensates for letter-spacing - bad centering */
	}

	.side-menu-1.ff-section .navigation 	{
		padding: 15px 0 60px 0;
		font-size: 17px;
	}

	.side-menu-1.ff-section .navigation li a 	{
/*		padding: 17px 0 17px 0;*/
		padding: 10px 0;
	}

	.side-menu-1.ff-section .side-menu__social 	{
		padding: 10px 0;
	}

	.side-menu-1.ff-section .side-menu__social li 	{
		/*margin: 0 7px;*/
	}

	.side-menu-1.ff-section .side-menu__social a 	{
	/*	font-size: 13px;*/
		/*font-size: 18px;*/
	}

}

.footer-about {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 12px;
}

.footer-about a {
    color: #fff;
    text-decoration: none;
}

.footer-about a:hover {
    color: #fef494;
}
/* FIN Menu Kurtural */

.master-wrapper {
    /*width: 3000px;*/
}

.content-wrapper {
    /*padding-top: 40px;*/
}

@media (min-width: 992px) {
    .content-wrapper {
        padding-top: 0;
    }
}

.menu-categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-categories ul li {
    display: block;
    margin: 0;
    padding: 0;
}

.menu-categories ul li a {
    font-size: 24px;
}

.menu-categories ul li.nav-portada a {
    background-color: #75CAC5;
}

.menu-categories ul li.nav-series a {
    background-color: #DDE351;
}

.menu-categories ul li.nav-about a {
    background-color: #EE509C;
}

.side-menu-1.ff-section .navigation .menu-categories a {
    display: block;
    color: #112546;
    font-family: 'Exo 2', sans-serif;
    padding: 15px 0;
    transition: 0.14s color ease-out;
}

.side-menu-1.ff-section .navigation .menu-categories a:hover {
    /*background-color: #cdc673;*/
    color: #fff;
}

.logo-mini-desktop {
    display: none;
}

@media (min-width: 992px) {
    .header-1.ff-section {
        background: none;
        position: absolute;
        z-index: 100;
    }

    .header-1.ff-section .logo-holder {
        display: none;
    }

    .header-1.ff-section .logo img.logo-desktop {
        display: none;
    }

    .logo-mini-desktop {
        display: block;
        position: fixed;
        right: 28px;
        top: 150px;
        width: 36px;
    }

    .side-menu-opened .logo-mini-desktop {
        display: none !important;
    }

    .logo-mini-desktop img {
        max-width: 100%;
    }

    .header-1.ff-section .menu-holder {
        position: fixed;
        right: 20px;
        top: 199px;
    }

    .side-menu-opened .header-1.ff-section .menu-holder {
        top: 20px;
    }

    .header-1.ff-section .menu-button__inner {
        color: white;
        display: block;
        opacity: 0.5;
    }

    .header-1.ff-section .menu-button:hover,
    .header-1.ff-section .menu-button:hover .menu-button__inner {
		opacity: 1;
	}
}

.footer {
    background-color: #fff;
    padding: 40px 0;
}

.footer p {
    color: #A6A5AA;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer img {
    max-width: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .footer a {
        background-size: 40px 80px;
    }

    .footer .twitter a {
        background-image: url('../images/icon-twitter@2x.png');
    }

    .footer .facebook a {
        background-image: url('../images/icon-facebook@2x.png');
    }

    .footer .whatsapp a {
        background-image: url('../images/icon-whatsapp@2x.png');
    }

    .footer .link a {
        background-image: url('../images/icon-link@2x.png');
    }

    .footer .cc a {
        background-image: url('../images/icon-cc@2x.png');
    }
}

#preloader {
    background-color: #005A79;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

#status {
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
}

.slide {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

/******************************************************************************
*******************************************************************************
Portada
*******************************************************************************
*******************************************************************************/
#slide-0-1 {
    background-color: #005A79;
}

#slide-0-1 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-0-1.png');
    background-position: center 20%;
    background-size: contain;
    height: 100vh;
    width: 100vmin;
}

#slide-0-1 .slide-content {
    padding: 0;
    position: relative;
}

#slide-0-1-1 {
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: 900;
    padding: 0 12%;
    position: absolute;
    text-transform: uppercase;
    top: 22%;
    width: 100%;
}

#slide-0-1-2 {
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 0 12%;
    position: absolute;
    text-transform: uppercase;
    top: 40%;
    width: 100%;
}

#slide-0-1-3 {
    left: 45%;
    position: absolute;
    top: 84%;
    width: 10%;
}

#slide-0-1-3 img {
    max-width: 100%;
}

#slide-0-1-4 {
    bottom: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

#slide-0-1-4 img {
    max-width: 100%;
}

#slide-0-2 {
    background-color: #36A0AB;
    padding-top: 0;
}

#slide-0-2 .slide {
    background-image: url('../images/bg-0-2.png');
    background-size: contain;
    background-position: center 40%;
}

#slide-0-2 .slide-content {
    padding: 0;
    position: relative;
}

#slide-0-2-1 {
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#slide-0-2-1 img {
    max-width: 100%;
}

#slide-0-2-2 {
    color: #FEF69B;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 0 8%;
    position: absolute;
    top: 16%;
    width: 100%;
}

#slide-0-2-3 {
    color: #fff;
    background-color: #2d696f;
    bottom: 0;
    font-family: 'Saira', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

#slide-0-2-3 a {
    color: #fff;
    display: block;
    padding: 4% 12%;
    text-decoration: none;
}

#slide-0-2-3 a:hover {
    color: #FEF69B;
    text-decoration: none;
}

#slide-0-3 {
    background-color: #F1C033;
    padding-top: 0;
}

#slide-0-3 .slide {
    background-image: url('../images/bg-0-3.png');
    background-size: contain;
    background-position: center top;
}

#slide-0-3 .slide-content {
    padding: 0;
    position: relative;
}

#slide-0-3-1 {
    color: #054525;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 0 24%;
    position: absolute;
    top: 18%;
    width: 100%;
}

#slide-0-3-2 {
    color: #fff;
    background-color: #9e7b20;
    bottom: 0;
    font-family: 'Saira', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

#slide-0-3-2 a {
    color: #fff;
    display: block;
    padding: 4% 12%;
    text-decoration: none;
}

#slide-0-3-2 a:hover {
    color: #054525;
    text-decoration: none;
}

#slide-0-4 {
    background-color: #d4b1d4;
    padding-top: 0;
}

#slide-0-4 .slide {

}

#slide-0-4 .slide-content {
    padding: 0;
    position: relative;
}

#slide-0-4-1 {
    color: #441D3A;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 0 8%;
    position: absolute;
    top: 8%;
    width: 100%;
}

#slide-0-4-2 {
    padding: 0;
    position: absolute;
    top: 58%;
    width: 100%;
}

#slide-0-4-2 img {
    max-width: 100%;
}

#slide-0-4-3 {
    color: #fff;
    background-color: #8a7186;
    bottom: 0;
    font-family: 'Saira', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

#slide-0-4-3 a {
    color: #fff;
    display: block;
    padding: 4% 12%;
    text-decoration: none;
}

#slide-0-4-3 a:hover {
    color: #441D3A;
    text-decoration: none;
}

#slide-0-5 {
    background-color: #d58940;
    padding-top: 0;
}

#slide-0-5 .slide {

}

#slide-0-5 .slide-content {
    padding: 0;
    position: relative;
}

#slide-0-5-1 {
    color: #4C2B15;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 0 8%;
    position: absolute;
    top: 12%;
    width: 100%;
}

#slide-0-5-2 {
    padding: 0;
    position: absolute;
    top: 46%;
    width: 100%;
}

#slide-0-5-2 img {
    max-width: 100%;
}

#slide-0-5-3 {
    color: #fff;
    background-color: #8b5728;
    bottom: 0;
    font-family: 'Saira', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

#slide-0-5-3 a {
    color: #fff;
    display: block;
    padding: 4% 12%;
    text-decoration: none;
}

#slide-0-5-3 a:hover {
    color: #4C2B15;
    text-decoration: none;
}

#slide-0-6 {
    background-color: #3b7856;
    padding-top: 0;
}

#slide-0-6 .slide {

}

#slide-0-6 .slide-content {
    padding: 0;
    position: relative;
}

#slide-0-6-1 {
    color: #D6E5C9;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 0 8%;
    position: absolute;
    top: 12%;
    width: 100%;
}

#slide-0-6-2 {
    padding: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

#slide-0-6-2 img {
    max-width: 100%;
}

#slide-0-6-3 {
    color: #fff;
    background-color: #264c36;
    bottom: 0;
    font-family: 'Saira', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

#slide-0-6-3 a {
    color: #fff;
    display: block;
    padding: 4% 12%;
    text-decoration: none;
}

#slide-0-6-3 a:hover {
    color: #D6E5C9;
    text-decoration: none;
}

@media (min-width: 992px) {
    .slide-container .slide {
        height: auto;
        width: 650px;
    }

    #slide-0-1 .slide {
        background-position: center top;
        width: 650px;
    }

    #slide-0-1-1 {
        font-size: 48px;
        line-height: 1.2;
        padding: 0 12%;
        top: 20%;
    }

    #slide-0-1-2 {
        font-size: 48px;
        line-height: 1.2;
        padding: 0 16%;
        top: 46%;
    }

    #slide-0-1-3 {
        top: 88%;
    }

    #slide-0-2-2 {
        font-size: 48px;
        padding: 0 5%;
    }

    #slide-0-3-1 {
        font-size: 48px;
        padding: 0 30%;
        top: 20%;
    }

    #slide-0-4-1 {
        font-size: 48px;
        padding: 0 8%;
    }

    #slide-0-4-2 {
        top: 62%;
    }

    #slide-0-5-1 {
        font-size: 48px;
        top: 14%;
    }

    #slide-0-5-2 {
        top: 50%;
    }

    #slide-0-6-1 {
        font-size: 48px;
        top: 14%;
    }

    #slide-0-6-2 {
        top: 54%;
    }
}

/******************************************************************************
*******************************************************************************
Scroll 1
*******************************************************************************
*******************************************************************************/
body.scroll-1,
.scroll-1 .header-1.ff-section,
.scroll-1 #preloader {
    background-color: #36A0AB;
}

#slide-1-1 {
    background-color: #36A0AB;
}

#slide-1-1 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-1-1.png');
    background-position: center top;
    background-size: contain;
    height: 100vh;
    width: 100vmin;
}

#slide-1-1 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-1-1 {
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#slide-1-1-1 img {
    max-width: 100%;
}

#slide-1-1-2 {
    color: #FEF69B;
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    font-weight: 900;
    padding: 0 20%;
    position: absolute;
    top: 20%;
    width: 100%;
}

#slide-1-1-3 {
    padding: 0;
    position: absolute;
    top: 70%;
    width: 100%;
}

#slide-1-1-3 img {
    max-width: 100%;
}

#slide-1-1-4 {
    left: 45%;
    position: absolute;
    top: 64%;
    width: 10%;
}

#slide-1-1-4 img {
    max-width: 100%;
}

#slide-1-2 {
    background-color: #441D3A;
}

#slide-1-2 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-1-1.png');*/
    /*background-position: center top;*/
    /*background-size: contain;*/
}

#slide-1-2 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-2-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 8%;
    position: absolute;
    top: 8%;
    width: 100%;
}

#slide-1-2-2 {
    padding: 0 8%;
    position: absolute;
    top: 30%;
    width: 100%;
}

#slide-1-2-2 img {
    max-width: 100%;
}

#slide-1-2-3 {
    bottom: 8%;
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 8%;
    position: absolute;
    width: 100%;
}

#slide-1-3 {
    background-color: #36A0AB;
}

#slide-1-3 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-1-3.png');
    background-position: center top;
    background-size: contain;
}

#slide-1-3 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-3-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-1-3-1 span {
    color: #441D3A;
    font-weight: 900;
    text-transform: uppercase;
}

#slide-1-3-2 {
    bottom: 12%;
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    width: 100%;
}

#slide-1-4 {
    background-color: #21BBC6;
}

#slide-1-4 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-1-4.png');
    background-position: center top;
    background-size: contain;
}

#slide-1-4 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-4-1 {
    color: #3F4E5D;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-1-4-2 {
    padding: 0 5%;
    position: absolute;
    top: 16%;
    width: 100%;
}

#slide-1-4-2 img {
    max-width: 100%;
}

#slide-1-4-3 {
    color: #3F4E5D;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 46%;
    width: 100%;
}

#slide-1-4-4 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 16%;
    position: absolute;
    top: 70%;
    width: 100%;
}

#slide-1-5 {
    background-color: #8789A8;
}

#slide-1-5 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-1-5.png');
    background-position: center top;
    background-size: contain;
}

#slide-1-5 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-5-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-1-5-1 span {
    font-weight: 700;
}

#slide-1-5-2 {
    padding: 0;
    position: absolute;
    top: 28%;
    width: 100%;
}

#slide-1-5-2 img {
    max-width: 100%;
}

#slide-1-5-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 18%;
    position: absolute;
    top: 55%;
    width: 100%;
}

#slide-1-6 {
    background-color: #63A991;
}

#slide-1-6 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-1-5.png');*/
    /*background-position: center top;*/
    /*background-size: contain;*/
}

#slide-1-6 .slide-content {
    padding: 0;
    position: relative;
}

#slide-1-6-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-1-6-2 {
    padding: 0 5%;
    position: absolute;
    top: 28%;
    width: 100%;
}

#slide-1-6-2 img {
    max-width: 100%;
}

#slide-1-6-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 9px;
    font-weight: 400;
    padding: 0;
    position: absolute;
    top: 82%;
    width: 100%;
}

#slide-1-6-4 {
    color: #fff;
    background-color: #3F4E5D;
    bottom: 0;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

#slide-1-6-4 a {
    color: #fff;
    display: block;
    padding: 4% 0;
    text-decoration: none;
}

#slide-1-6-4 a:hover {
    color: #63A991;
    text-decoration: none;
}

@media (min-width: 992px) {
    .slide-container .slide {
        height: auto;
        width: 650px;
    }

    #slide-1-1 .slide {
        background-position: center top;
        width: 650px;
    }

    #slide-1-1-1 {
        font-size: 48px;
        padding: 0;
        top: 0;
    }

    #slide-1-1-2 {
        font-size: 48px;
        padding: 0 26%;
        top: 22%;
    }

    #slide-1-1-3 {
        top: 66%;
    }

    #slide-1-1-4 {
        top: 65%;
    }

    #slide-1-2-1 {
        font-size: 32px;
    }

    #slide-1-2-3 {
        font-size: 32px;
    }

    #slide-1-3-1 {
        font-size: 32px;
    }

    #slide-1-3-2 {
        font-size: 28px;
        bottom: 13%;
        padding: 0 10%;
    }

    #slide-1-4-1 {
        font-size: 32px;
    }

    #slide-1-4-3 {
        font-size: 32px;
        top: 48%;
    }

    #slide-1-4-4 {
        font-size: 32px;
        padding: 0 24%;
        top: 70%;
    }

    #slide-1-5-1 {
        font-size: 36px;
        padding: 0 6%;
    }

    #slide-1-5-2 {
        top: 28%;
    }

    #slide-1-5-3 {
        font-size: 32px;
        padding: 0 24%;
        top: 58%;
    }

    #slide-1-6-1 {
        font-size: 36px;
    }

    #slide-1-6-3 {
        font-size: 18px;
        top: 85%;
    }

    #slide-1-6-4 {
        font-size: 22px;
    }
}

/******************************************************************************
*******************************************************************************
Scroll 2
*******************************************************************************
*******************************************************************************/
body.scroll-2,
.scroll-2 .header-1.ff-section,
.scroll-2 #preloader {
    background-color: #f3c133;
}

#slide-2-1 {
    background-color: #f3c133;
}

#slide-2-1 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-2-1.png');
    background-position: center bottom;
    background-repeat: repeat-y;
    background-size: contain;
    height: 100vh;
    width: 100vmin;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-2-1 .slide {
        background-image: url('../images/bg-2-1@2x.png');
    }
}

#slide-2-1 .slide-content {
    padding: 0;
    position: relative;
}

#slide-2-1-1 {
    color: #054525;
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    font-weight: 900;
    padding: 0 20%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-2-1-2 {
    color: #4D2C16;
    font-family: 'Saira', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 0 22%;
    position: absolute;
    top: 38%;
    width: 100%;
}

#slide-2-1-3 {
    left: 45%;
    position: absolute;
    top: 89%;
    width: 10%;
}

#slide-2-1-3 img {
    max-width: 100%;
}

#slide-2-2 {
    background-color: #62a991;
}

#slide-2-2 .slide {
    background-image: url('../images/bg-2-2.png');
    background-position: center top;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-2-2 .slide {
        background-image: url('../images/bg-2-2@2x.png');
        background-size: contain;
    }
}

#slide-2-2 .slide-content {
    padding: 0;
    position: relative;
}

#slide-2-2-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 24%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-2-2-2 {
    padding: 0;
    position: absolute;
    top: 28%;
    width: 100%;
}

#slide-2-2-2 img {
    max-width: 100%;
}

#slide-2-2-3 {
    padding: 0;
    position: absolute;
    top: 56%;
    width: 100%;
    z-index: 2;
}

#slide-2-2-3 img {
    max-width: 100%;
}

#slide-2-2-4 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    font-weight: 800;
    padding: 0 22%;
    position: absolute;
    top: 61%;
    width: 100%;
    z-index: 3;
}

#slide-2-2-5 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 82%;
    width: 100%;
}

#slide-2-3 {
    background-color: #21bbc6;
}

#slide-2-3 .slide {
    /*background-image: url('../images/bg-2-2.png');*/
    /*background-position: center top;*/
    /*background-size: contain;*/
}

#slide-2-3 .slide-content {
    padding: 0;
    position: relative;
}

#slide-2-3-1 {
    color: #3E4D5C;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 8%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-2-3-2 {
    padding: 0;
    position: absolute;
    top: 23%;
    width: 100%;
}

#slide-2-3-2 img {
    max-width: 100%;
}

#slide-2-3-3 {
    color: #3E4D5C;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 8%;
    position: absolute;
    top: 71%;
    width: 100%;
}

#slide-2-4 {
    background-color: #90dde2;
}

#slide-2-4 .slide {
    /*background-image: url('../images/bg-2-2.png');*/
    /*background-position: center top;*/
    /*background-size: contain;*/
}

#slide-2-4 .slide-content {
    padding: 0;
    position: relative;
}

#slide-2-4-1 {
    color: #3E4D5C;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-2-4-2 {
    border: 2px solid #fff;
    color: #3E4D5C;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 3%;
    padding: 2px;
    position: absolute;
    top: 28%;
    width: 94%;
}

#slide-2-4-2 a {
    background-color: #E4DF4A;
    color: #3E4D5C;
    display: block;
    padding: 8px 0;
    width: 100%;
}

#slide-2-4-2 a:hover {
    color: #fff;
    text-decoration: none;
}

#slide-2-4-3 {
    padding: 0 8%;
    position: absolute;
    top: 42%;
    width: 100%;
}

#slide-2-4-3 img {
    max-width: 100%;
}

#slide-2-4-4 {
    color: #3E4D5C;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 8%;
    position: absolute;
    top: 84%;
    width: 100%;
}

#slide-2-5 {
    background-color: #21bbc6;
}

#slide-2-5 .slide {
    background-image: url('../images/bg-2-5.png');
    background-position: center bottom;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-2-5 .slide {
        background-image: url('../images/bg-2-5@2x.png');
    }
}

#slide-2-5 .slide-content {
    padding: 0;
    position: relative;
}

#slide-2-5-1 {
    color: #3E4D5C;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-2-5-2 {
    padding: 0;
    position: absolute;
    top: 18%;
    width: 100%;
    z-index: 2;
}

#slide-2-5-2 img {
    max-width: 100%;
}

#slide-2-5-3 {
    color: #3E4D5C;
    font-family: 'Saira', sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding: 0 4%;
    position: absolute;
    top: 31%;
    width: 100%;
    z-index: 3;
}

#slide-2-5-3 a {
    color: #005564;
}

#slide-2-5-3 a:hover {
    color: #21bbc6;
    text-decoration: none;
}

#slide-2-5-4 {
    color: #3E4D5C;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 8%;
    position: absolute;
    top: 56%;
    width: 100%;
}

#slide-2-5-4 span {
    font-weight: 700;
}

#slide-2-5-5 {
    padding: 0;
    position: absolute;
    top: 74%;
    width: 100%;
}

#slide-2-5-5 img {
    max-width: 100%;
}

#slide-2-5-6 {
    color: #3E4D5C;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 0 7%;
    position: absolute;
    top: 82%;
    width: 100%;
}

#slide-2-6 {
    background-color: #55917b;
}

#slide-2-6 .slide {
    background-image: url('../images/bg-2-6.png');
    background-position: center top;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-2-6 .slide {
        background-image: url('../images/bg-2-6@2x.png');
    }
}

#slide-2-6 .slide-content {
    padding: 0;
    position: relative;
}

#slide-2-6-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 7%;
    width: 100%;
}

#slide-2-6-2 {
    padding: 0 4%;
    position: absolute;
    top: 28%;
    width: 100%;
}

#slide-2-6-2 img {
    max-width: 100%;
}

#slide-2-6-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 62%;
    width: 100%;
}

#slide-2-6-4 {
    padding: 0;
    position: absolute;
    top: 88%;
    width: 100%;
}

#slide-2-6-4 img {
    max-width: 100%;
}

#slide-2-7 {
    background-color: #8e87aa;
}

#slide-2-7 .slide {
    background-image: url('../images/bg-2-7.png');
    background-position: center center;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-2-7 .slide {
        background-image: url('../images/bg-2-7@2x.png');
    }
}

#slide-2-7 .slide-content {
    padding: 0;
    position: relative;
}

#slide-2-7-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 22%;
    position: absolute;
    top: 32%;
    width: 100%;
}

#slide-2-8 {
    background-color: #525064;
}

#slide-2-8 .slide {
    /*background-image: url('../images/bg-2-7.png');
    background-position: center center;
    background-size: contain;*/
}

#slide-2-8 .slide-content {
    padding: 0;
    position: relative;
}

#slide-2-8-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 8%;
    position: absolute;
    top: 10%;
    width: 100%;
}

#slide-2-8-2 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 9px;
    font-weight: 400;
    padding: 0;
    position: absolute;
    top: 64%;
    width: 100%;
}

#slide-2-8-3 {
    color: #fff;
    background-color: #3F4E5D;
    bottom: 0;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

#slide-2-8-3 a {
    color: #fff;
    display: block;
    padding: 4% 0;
    text-decoration: none;
}

#slide-2-8-3 a:hover {
    color: #8e87aa;
    text-decoration: none;
}

@media (min-width: 992px) {
    .slide-container .slide {
        height: auto;
        width: 650px;
    }

    #slide-2-1 .slide {
        width: 650px;
    }

    #slide-2-1-1 {
        font-size: 48px;
        padding: 0 26%;
    }

    #slide-2-1-2 {
        font-size: 32px;
        padding: 0 26%;
        top: 42%;
    }

    #slide-2-2-1 {
        font-size: 36px;
    }

    #slide-2-2-4 {
        font-size: 40px;
    }

    #slide-2-2-5 {
        font-size: 36px;
    }

    #slide-2-3-1 {
        font-size: 36px;
    }

    #slide-2-3-3 {
        font-size: 36px;
    }

    #slide-2-4-1 {
        font-size: 36px;
    }

    #slide-2-4-2 {
        font-size: 36px;
    }

    #slide-2-4-3 {
        top: 40%;
    }

    #slide-2-4-4 {
        font-size: 36px;
    }

    #slide-2-5-1 {
        font-size: 36px;
    }

    #slide-2-5-3 {
        font-size: 76px;
    }

    #slide-2-5-4 {
        font-size: 36px;
    }

    #slide-2-5-6 {
        font-size: 36px;
    }

    #slide-2-6-1 {
        font-size: 36px;
    }

    #slide-2-6-3 {
        font-size: 36px;
    }

    #slide-2-7-1 {
        font-size: 36px;
    }

    #slide-2-8-1 {
        font-size: 36px;
    }

    #slide-2-8-2 {
        font-size: 18px;
    }

    #slide-2-8-3 {
        font-size: 22px;
    }
}

/******************************************************************************
*******************************************************************************
Scroll 3
*******************************************************************************
*******************************************************************************/
body.scroll-3,
.scroll-3 .header-1.ff-section,
.scroll-3 #preloader {
    background-color: #d4b1d4;
}

#slide-3-1 {
    background-color: #d4b1d4;
}

#slide-3-1 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-1-1.png');*/
    /*background-position: center top;*/
    /*background-size: contain;*/
    height: 100vh;
    width: 100vmin;
}

#slide-3-1 .slide-content {
    padding: 0;
    position: relative;
}

#slide-3-1-1 {
    color: #441D3A;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    font-weight: 900;
    padding: 0 12%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-3-1-2 {
    padding: 0;
    position: absolute;
    top: 34%;
    width: 100%;
}

#slide-3-1-2 img {
    max-width: 100%;
}

#slide-3-1-3 {
    color: #441D3A;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 12%;
    position: absolute;
    top: 60%;
    width: 100%;
}

#slide-3-1-4 {
    left: 45%;
    position: absolute;
    top: 91%;
    width: 10%;
}

#slide-3-1-4 img {
    max-width: 100%;
}

#slide-3-2 {
    background-color: #E22052;
}

#slide-3-2 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-3-2.png');
    background-position: center top;
    background-size: contain;
}

#slide-3-2 .slide-content {
    padding: 0;
    position: relative;
}

#slide-3-2-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    font-weight: 800;
    padding: 0 20%;
    position: absolute;
    top: 22%;
    width: 100%;
}

#slide-3-3 {
    background-color: #441D3A;
    padding-top: 0;
}

#slide-3-3 .slide {
    /*background-image: url('../images/bg-0-3.png');*/
    /*background-size: contain;*/
    /*background-position: center top;*/
}

#slide-3-3 .slide-content {
    padding: 0;
    position: relative;
}

#slide-3-3-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 12%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-3-3-2 {
    padding: 0 5%;
    position: absolute;
    top: 34%;
    width: 100%;
}

#slide-3-3-2 img {
    max-width: 100%;
}

#slide-3-3-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 12%;
    position: absolute;
    top: 70%;
    width: 100%;
}

#slide-3-4 {
    background-color: #EA264E;
    padding-top: 0;
}

#slide-3-4 .slide {
    /*background-image: url('../images/bg-0-3.png');*/
    /*background-size: contain;*/
    /*background-position: center top;*/
}

#slide-3-4 .slide-content {
    padding: 0;
    position: relative;
}

#slide-3-4-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-3-4-2 {
    padding: 0 7%;
    position: absolute;
    top: 27%;
    width: 100%;
}

#slide-3-4-2 img {
    max-width: 100%;
}

#slide-3-4-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 57%;
    width: 100%;
}

#slide-3-5 {
    background-color: #bb7db6;
    background: linear-gradient(90deg, #bb7db6 50%, #b268aa 50%);
    padding-top: 0;
}

#slide-3-5 .slide {
    /*background-image: url('../images/bg-3-5.png');
    background-position: center top;
    background-repeat: repeat-y;
    background-size: auto;*/
}

#slide-3-5 .slide-content {
    padding: 0;
    position: relative;
}

#slide-3-5-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-3-5-2 {
    padding: 0 7%;
    position: absolute;
    top: 27%;
    width: 100%;
}

#slide-3-5-2 img {
    max-width: 100%;
}

#slide-3-5-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 66%;
    width: 100%;
}

#slide-3-6 {
    background-color: #eb224e;
    padding-top: 0;
}

#slide-3-6 .slide {
    background-image: url('../images/bg-3-6.png');
    background-position: center bottom;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-3-6 .slide {
        background-image: url('../images/bg-3-6@2x.png');
        background-size: contain;
    }
}

#slide-3-6 .slide-content {
    padding: 0;
    position: relative;
}

#slide-3-6-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-3-6-2 {
    padding: 0 8%;
    position: absolute;
    top: 20%;
    width: 100%;
}

#slide-3-6-2 img {
    max-width: 100%;
}

#slide-3-6-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 43%;
    width: 100%;
}

#slide-3-6-4 {
    padding: 0 8%;
    position: absolute;
    top: 70%;
    width: 100%;
}

#slide-3-6-4 img {
    max-width: 100%;
}

#slide-3-6-5 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 77%;
    width: 100%;
}

#slide-3-7 {
    background-color: #d4b1d4;
    padding-top: 0;
}

#slide-3-7 .slide {
    background-image: url('../images/bg-3-7.png');
    background-position: center top;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-3-7 .slide {
        background-image: url('../images/bg-3-7@2x.png');
        background-size: contain;
    }
}

#slide-3-7 .slide-content {
    padding: 0;
    position: relative;
}

#slide-3-7-1 {
    color: #3F4E5D;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 20%;
    width: 100%;
}

#slide-3-7-2 {
    padding: 0 5%;
    position: absolute;
    top: 50%;
    width: 100%;
}

#slide-3-7-2 img {
    max-width: 100%;
}

#slide-3-7-3 {
    color: #3F4E5D;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 70%;
    width: 100%;
}

#slide-3-8 {
    background-color: #99A5CA;
    padding-top: 0;
}

#slide-3-8 .slide {
    background-image: url('../images/bg-3-8.png');
    background-position: center bottom;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-3-8 .slide {
        background-image: url('../images/bg-3-8@2x.png');
        background-size: contain;
    }
}

#slide-3-8 .slide-content {
    padding: 0;
    position: relative;
}

#slide-3-8-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-3-8-2 {
    padding: 0 8%;
    position: absolute;
    top: 20%;
    width: 100%;
}

#slide-3-8-2 img {
    max-width: 100%;
}

#slide-3-8-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 48%;
    width: 100%;
}

#slide-3-9 {
    background-color: #B1C3E3;
    padding-top: 0;
}

#slide-3-9 .slide {
    background-image: url('../images/bg-3-9.png');
    background-position: center top;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-3-9 .slide {
        background-image: url('../images/bg-3-9@2x.png');
        background-size: contain;
    }
}

#slide-3-9 .slide-content {
    padding: 0;
    position: relative;
}

#slide-3-9-1 {
    color: #3F4E5D;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 38%;
    width: 100%;
}

#slide-3-9-2 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 9px;
    font-weight: 400;
    padding: 0;
    position: absolute;
    top: 77%;
    width: 100%;
}

#slide-3-9-3 {
    color: #fff;
    background-color: #3F4E5D;
    bottom: 0;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

#slide-3-9-3 a {
    color: #fff;
    display: block;
    padding: 4% 0;
    text-decoration: none;
}

#slide-3-9-3 a:hover {
    color: #B1C3E3;
    text-decoration: none;
}

@media (min-width: 992px) {
    .slide-container .slide {
        height: auto;
        width: 650px;
    }

    #slide-3-1 .slide {
        background-position: center top;
        width: 650px;
    }

    #slide-3-1-1 {
        font-size: 36px;
    }

    #slide-3-1-2 {
        top: 32%;
    }

    #slide-3-1-3 {
        font-size: 28px;
        top: 68%;
    }

    #slide-3-1-4 {
        top: 91%;
    }

    #slide-3-2-1 {
        font-size: 42px;
    }

    #slide-3-3-1 {
        font-size: 36px;
    }

    #slide-3-3-3 {
        font-size: 36px;
    }

    #slide-3-4-1 {
        font-size: 36px;
    }

    #slide-3-4-3 {
        font-size: 36px;
    }

    #slide-3-5-1 {
        font-size: 36px;
    }

    #slide-3-5-3 {
        font-size: 36px;
    }

    #slide-3-6-1 {
        font-size: 36px;
    }

    #slide-3-6-3 {
        font-size: 36px;
    }

    #slide-3-6-5 {
        font-size: 36px;
    }

    #slide-3-7-1 {
        font-size: 32px;
        top: 20%;
    }

    #slide-3-7-2 {
        top: 50%;
    }

    #slide-3-7-3 {
        font-size: 32px;
        top: 68%;
    }

    #slide-3-8-1 {
        font-size: 32px;
    }

    #slide-3-8-3 {
        font-size: 32px;
        top: 50%;
    }

    #slide-3-9-1 {
        font-size: 36px;
    }

    #slide-3-9-2 {
        font-size: 18px;
    }

    #slide-3-9-3 {
        font-size: 22px;
    }
}

/******************************************************************************
*******************************************************************************
Scroll 4
*******************************************************************************
*******************************************************************************/
body.scroll-4,
.scroll-4 .header-1.ff-section,
.scroll-4 #preloader {
    background-color: #D68A40;
}

#slide-4-1 {
    background-color: #D68A40;
}

#slide-4-1 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-4-1.png');
    background-position: center 54%;
    background-size: 800px 330px;
    height: 100vh;
    width: 100vmin;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-4-1 .slide {
        background-image: url('../images/bg-4-1@2x.png');
        background-size: 450px 185px;
    }
}

#slide-4-1 .slide-content {
    padding: 0;
    position: relative;
}

#slide-4-1-1 {
    color: #4C2B15;
    font-family: 'Exo 2', sans-serif;
    font-size: 26px;
    font-weight: 900;
    padding: 0 12%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-4-1-2 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 8%;
    position: absolute;
    top: 24%;
    width: 100%;
}

#slide-4-1-3 {
    padding: 0 8%;
    position: absolute;
    top: 42%;
    width: 100%;
}

#slide-4-1-3 img {
    max-width: 100%;
}

#slide-4-1-4 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 8%;
    position: absolute;
    top: 76%;
    width: 100%;
}

#slide-4-1-5 {
    left: 45%;
    position: absolute;
    top: 91%;
    width: 10%;
}

#slide-4-1-5 img {
    max-width: 100%;
}

#slide-4-2 {
    background-color: #1FA0A3;
}

#slide-4-2 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-4-1.png');*/
    /*background-position: center 54%;*/
    /*background-size: 800px 330px;*/
}

#slide-4-2 .slide-content {
    padding: 0;
    position: relative;
}

#slide-4-2-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-4-2-2 {
    padding: 0 6%;
    position: absolute;
    top: 38%;
    width: 100%;
}

#slide-4-2-2 img {
    max-width: 100%;
}

#slide-4-3 {
    background-color: #43c6cf;
}

#slide-4-3 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-4-1.png');*/
    /*background-position: center 54%;*/
    /*background-size: 800px 330px;*/
}

#slide-4-3 .slide-content {
    padding: 0;
    position: relative;
}

#slide-4-3-1 {
    color: #3E4D5C;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-4-3-2 {
    padding: 0 6%;
    position: absolute;
    top: 28%;
    width: 100%;
}

#slide-4-3-2 img {
    max-width: 100%;
}

#slide-4-4 {
    background-color: #2498b1;
}

#slide-4-4 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-4-1.png');*/
    /*background-position: center 54%;*/
    /*background-size: 800px 330px;*/
}

#slide-4-4 .slide-content {
    padding: 0;
    position: relative;
}

#slide-4-4-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-4-4-2 {
    padding: 0 6%;
    position: absolute;
    top: 16%;
    width: 100%;
}

#slide-4-4-2 img {
    max-width: 100%;
}

#slide-4-4-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 66%;
    width: 100%;
}

#slide-4-5 {
    background-color: #62a991;
}

#slide-4-5 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-4-1.png');*/
    /*background-position: center 54%;*/
    /*background-size: 800px 330px;*/
}

#slide-4-5 .slide-content {
    padding: 0;
    position: relative;
}

#slide-4-5-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-4-5-2 {
    padding: 0 8%;
    position: absolute;
    top: 30%;
    width: 100%;
}

#slide-4-5-2 img {
    max-width: 100%;
}

#slide-4-5-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 67%;
    width: 100%;
}

#slide-4-6 {
    background-color: #82baa7;
}

#slide-4-6 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-4-1.png');*/
    /*background-position: center 54%;*/
    /*background-size: 800px 330px;*/
}

#slide-4-6 .slide-content {
    padding: 0;
    position: relative;
}

#slide-4-6-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-4-6-2 {
    padding: 0 8%;
    position: absolute;
    top: 20%;
    width: 100%;
}

#slide-4-6-2 img {
    max-width: 100%;
}

#slide-4-6-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 68%;
    width: 100%;
}

#slide-4-7 {
    background-color: #499a88;
}

#slide-4-7 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-4-1.png');*/
    /*background-position: center 54%;*/
    /*background-size: 800px 330px;*/
}

#slide-4-7 .slide-content {
    padding: 0;
    position: relative;
}

#slide-4-7-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-4-7-2 {
    padding: 0 8%;
    position: absolute;
    top: 25%;
    width: 100%;
}

#slide-4-7-2 img {
    max-width: 100%;
}

#slide-4-7-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 70%;
    width: 100%;
}

#slide-4-8 {
    background-color: #35c2cc;
}

#slide-4-8 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-4-1.png');*/
    /*background-position: center 54%;*/
    /*background-size: 800px 330px;*/
}

#slide-4-8 .slide-content {
    padding: 0;
    position: relative;
}

#slide-4-8-1 {
    color: #431C39;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-4-8-2 {
    padding: 0 8%;
    position: absolute;
    top: 22%;
    width: 100%;
}

#slide-4-8-2 img {
    max-width: 100%;
}

#slide-4-8-3 {
    color: #431C39;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 68%;
    width: 100%;
}

#slide-4-9 {
    background-color: #96c8ec;
}

#slide-4-9 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-4-9.png');
    background-position: center bottom;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-4-9 .slide {
        background-image: url('../images/bg-4-9@2x.png');
    }
}

#slide-4-9 .slide-content {
    padding: 0;
    position: relative;
}

#slide-4-9-1 {
    color: #073B5A;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-4-9-2 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 74%;
    width: 100%;
}

#slide-4-10 {
    background-color: #eb224e;
}

#slide-4-10 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-4-1.png');*/
    /*background-position: center 54%;*/
    /*background-size: 800px 330px;*/
}

#slide-4-10 .slide-content {
    padding: 0;
    position: relative;
}

#slide-4-10-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-4-10-2 {
    padding: 0;
    position: absolute;
    top: 22%;
    width: 100%;
}

#slide-4-10-2 img {
    max-width: 100%;
}

#slide-4-10-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4%;
    position: absolute;
    top: 56%;
    width: 100%;
}

#slide-4-10-4 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 9px;
    font-weight: 400;
    padding: 0;
    position: absolute;
    top: 84%;
    width: 100%;
}

#slide-4-10-5 {
    color: #fff;
    background-color: #3F4E5D;
    bottom: 0;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

#slide-4-10-5 a {
    color: #fff;
    display: block;
    padding: 4% 0;
    text-decoration: none;
}

#slide-4-10-5 a:hover {
    color: #eb224e;
    text-decoration: none;
}

@media (min-width: 992px) {
    .slide-container .slide {
        height: auto;
        width: 650px;
    }

    #slide-4-1 .slide {
        width: 650px;
    }

    #slide-4-1-1 {
        font-size: 42px;
    }

    #slide-4-1-2 {
        font-size: 24px;
        top: 20%;
    }

    #slide-4-1-3 {
        top: 32%;
    }

    #slide-4-1-4 {
        font-size: 24px;
        top: 78%;
    }

    #slide-4-1-5 {
        top: 91%;
    }

    #slide-4-2-1 {
        font-size: 32px;
    }

    #slide-4-2-2 {
        top: 32%;
    }

    #slide-4-3-1 {
        font-size: 32px;
    }

    #slide-4-4-1 {
        font-size: 32px;
    }

    #slide-4-4-2 {
        padding: 0;
    }

    #slide-4-4-3 {
        font-size: 32px;
        top: 72%;
    }

    #slide-4-5-1 {
        font-size: 32px;
    }

    #slide-4-5-2 {
        padding: 0;
    }

    #slide-4-5-3 {
        font-size: 32px;
        top: 75%;
    }

    #slide-4-6-1 {
        font-size: 32px;
    }

    #slide-4-6-2 {
        padding: 0 4%;
    }

    #slide-4-6-3 {
        font-size: 32px;
        top: 72%;
    }

    #slide-4-7-1 {
        font-size: 32px;
    }

    #slide-4-7-2 {
        padding: 0;
        top: 24%;
    }

    #slide-4-7-3 {
        font-size: 32px;
        top: 76%;
    }

    #slide-4-8-1 {
        font-size: 32px;
    }

    #slide-4-8-2 {
        padding: 0;
        top: 19%;
    }

    #slide-4-8-3 {
        font-size: 32px;
        top: 74%;
    }

    #slide-4-9-1 {
        font-size: 32px;
        padding: 0 8%;
    }

    #slide-4-9-2 {
        font-size: 32px;
        padding: 0 8%;
        top: 76%;
    }

    #slide-4-10-1 {
        font-size: 32px;
        padding: 0 8%;
    }

    #slide-4-10-3 {
        font-size: 32px;
        top: 58%;
    }

    #slide-4-10-4 {
        font-size: 18px;
    }

    #slide-4-10-5 {
        font-size: 22px;
    }
}

/******************************************************************************
*******************************************************************************
Scroll 5
*******************************************************************************
*******************************************************************************/
body.scroll-5,
.scroll-5 .header-1.ff-section,
.scroll-5 #preloader {
    background-color: #50a6a9;
}

#slide-5-1 {
    background-color: #50a6a9;
}

#slide-5-1 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-5-1.png');
    background-position: center bottom;
    background-size: contain;
    height: 100vh;
    width: 100vmin;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-5-1 .slide {
        background-image: url('../images/bg-5-1@2x.png');
        background-size: contain;
    }
}

#slide-5-1 .slide-content {
    padding: 0;
    position: relative;
}

#slide-5-1-1 {
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 28px;
    font-weight: 900;
    padding: 0 14%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-5-1-2 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 22%;
    position: absolute;
    top: 64%;
    width: 100%;
}

#slide-5-1-3 {
    left: 45%;
    position: absolute;
    top: 40%;
    width: 10%;
}

#slide-5-1-3 img {
    max-width: 100%;
}

#slide-5-2 {
    background-color: #99bd81;
}

#slide-5-2 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-5-2.png');
    background-position: center top;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-5-2 .slide {
        background-image: url('../images/bg-5-2@2x.png');
        background-size: contain;
    }
}

#slide-5-2 .slide-content {
    padding: 0;
    position: relative;
}

#slide-5-2-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 8%;
    width: 100%;
}

#slide-5-2-2 {
    padding: 0 6%;
    position: absolute;
    top: 42%;
    width: 100%;
}

#slide-5-2-2 img {
    max-width: 100%;
}

#slide-5-2-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 80%;
    width: 100%;
}

#slide-5-3 {
    background-color: #a4aaca;
}

#slide-5-3 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-5-2.png');*/
    /*background-position: center top;*/
    /*background-size: contain;*/
}

#slide-5-3 .slide-content {
    padding: 0;
    position: relative;
}

#slide-5-3-1 {
    color: #431C39;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 8%;
    width: 100%;
}

#slide-5-3-2 {
    padding: 0;
    position: absolute;
    top: 26%;
    width: 100%;
    z-index: 1;
}

#slide-5-3-2 img {
    max-width: 100%;
}

#slide-5-3-3 {
    color: #431C39;
    font-family: 'Exo 2', sans-serif;
    font-size: 34px;
    font-weight: 900;
    padding: 0 10%;
    position: absolute;
    top: 42%;
    width: 100%;
    z-index: 3;
}

#slide-5-3-3 a {
    color: #431C39;
}

#slide-5-3-3 a:hover {
    color: #e11f52;
    text-decoration: none;
}

#slide-5-3-4 {
    color: #431C39;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 78%;
    width: 100%;
}

#slide-5-4 {
    background-color: #441d39;
}

#slide-5-4 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-5-2.png');*/
    /*background-position: center top;*/
    /*background-size: contain;*/
}

#slide-5-4 .slide-content {
    padding: 0;
    position: relative;
}

#slide-5-4-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-5-4-1 span {
    color: #fdf5b8;
    font-weight: 700;
}

#slide-5-4-2 {
    padding: 0 6%;
    position: absolute;
    top: 37%;
    width: 100%;
}

#slide-5-4-2 img {
    max-width: 100%;
}

#slide-5-4-3 {
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 81%;
    width: 100%;
}

#slide-5-5 {
    background-color: #b1a0bb;
}

#slide-5-5 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-5-2.png');*/
    /*background-position: center top;*/
    /*background-size: contain;*/
}

#slide-5-5 .slide-content {
    padding: 0;
    position: relative;
}

#slide-5-5-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-5-5-1 span {
    color: #fded00;
    font-weight: 700;
}

#slide-5-5-2 {
    padding: 0;
    position: absolute;
    top: 21%;
    width: 100%;
}

#slide-5-5-2 img {
    max-width: 100%;
}

#slide-5-5-3 {
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 73%;
    width: 100%;
}

#slide-5-6 {
    background-color: #2498b1;
}

#slide-5-6 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-5-2.png');*/
    /*background-position: center top;*/
    /*background-size: contain;*/
}

#slide-5-6 .slide-content {
    padding: 0;
    position: relative;
}

#slide-5-6-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-5-6-1 span {
    color: #fded00;
    font-weight: 700;
}

#slide-5-6-2 {
    padding: 0 4%;
    position: absolute;
    top: 38%;
    width: 100%;
}

#slide-5-6-2 img {
    max-width: 100%;
}

#slide-5-7 {
    background-color: #41697a;
}

#slide-5-7 .slide {
    /*background-color: #ccc;*/
    /*background-image: url('../images/bg-5-2.png');*/
    /*background-position: center top;*/
    /*background-size: contain;*/
}

#slide-5-7 .slide-content {
    padding: 0;
    position: relative;
}

#slide-5-7-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 5%;
    width: 100%;
}

#slide-5-7-1 span {
    color: #fded00;
    font-weight: 700;
}

#slide-5-7-2 {
    padding: 0 6%;
    position: absolute;
    top: 32%;
    width: 100%;
}

#slide-5-7-2 img {
    max-width: 100%;
}

#slide-5-7-3 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 72%;
    width: 100%;
}

#slide-5-8 {
    background-color: #5f8134;
}

#slide-5-8 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-5-8.png');
    background-position: center center;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-5-8 .slide {
        background-image: url('../images/bg-5-8@2x.png');
        background-size: contain;
    }
}

#slide-5-8 .slide-content {
    padding: 0;
    position: relative;
}

#slide-5-8-1 {
    color: #FEF591;
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    font-weight: 800;
    padding: 0 15%;
    position: absolute;
    top: 26%;
    width: 100%;
}

#slide-5-9 {
    background-color: #1ab374;
}

#slide-5-9 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-5-9.png');
    background-position: center bottom;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-5-9 .slide {
        background-image: url('../images/bg-5-9@2x.png');
        background-size: contain;
    }
}

#slide-5-9 .slide-content {
    padding: 0;
    position: relative;
}

#slide-5-9-1 {
    color: #fff;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 6%;
    position: absolute;
    top: 10%;
    width: 100%;
}

#slide-5-10 {
    background-color: #c5d2b0;
}

#slide-5-10 .slide {
    /*background-color: #ccc;*/
    background-image: url('../images/bg-5-10.png');
    background-position: center top;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #slide-5-10 .slide {
        background-image: url('../images/bg-5-10@2x.png');
        background-size: contain;
    }
}

#slide-5-10 .slide-content {
    padding: 0;
    position: relative;
}

#slide-5-10-1 {
    color: #3D551F;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 0 6%;
    position: absolute;
    top: 20%;
    width: 100%;
}

#slide-5-10-2 {
    color: #3D551F;
    font-family: 'Saira', sans-serif;
    font-size: 9px;
    font-weight: 400;
    padding: 0;
    position: absolute;
    top: 68%;
    width: 100%;
}

#slide-5-10-3 {
    color: #fff;
    background-color: #3F4E5D;
    bottom: 0;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

#slide-5-10-3 a {
    color: #fff;
    display: block;
    padding: 4% 0;
    text-decoration: none;
}

#slide-5-10-3 a:hover {
    color: #c5d2b0;
    text-decoration: none;
}

@media (min-width: 992px) {
    .slide-container .slide {
        height: auto;
        width: 650px;
    }

    #slide-5-1 .slide {
        width: 650px;
    }

    #slide-5-1-1 {
        font-size: 42px;
    }

    #slide-5-1-2 {
        font-size: 28px;
        padding: 0 24%;
        top: 52%;
    }

    #slide-5-1-3 {
        top: 84%;
    }

    #slide-5-2-1 {
        font-size: 32px;
        top: 10%;
    }

    #slide-5-2-2 {
        padding: 0;
        top: 37%;
    }

    #slide-5-2-3 {
        font-size: 32px;
    }

    #slide-5-3-1 {
        font-size: 32px;
    }

    #slide-5-3-3 {
        font-size: 68px;
    }

    #slide-5-3-4 {
        font-size: 32px;
    }

    #slide-5-4-1 {
        font-size: 32px;
    }

    #slide-5-4-2 {
        padding: 0;
        top: 31%;
    }

    #slide-5-4-3 {
        font-size: 32px;
    }

    #slide-5-5-1 {
        font-size: 32px;
    }

    #slide-5-5-2 {
        top: 22%;
    }

    #slide-5-5-3 {
        font-size: 32px;
        top: 75%;
    }

    #slide-5-6-1 {
        font-size: 32px;
    }

    #slide-5-6-2 {
        top: 35%;
    }

    #slide-5-7-1 {
        font-size: 32px;
    }

    #slide-5-7-2 {
        padding: 0;
        top: 27%;
    }

    #slide-5-7-3 {
        font-size: 32px;
        top: 75%;
    }

    #slide-5-8-1 {
        font-size: 36px;
        top: 34%;
    }

    #slide-5-9-1 {
        font-size: 32px;
    }

    #slide-5-10-1 {
        font-size: 36px;
        padding: 0 6%;
    }

    #slide-5-10-2 {
        font-size: 18px;
    }

    #slide-5-10-3 {
        font-size: 22px;
    }
}
